---
layout: default
title: Studios | Indoor & Outdoor Photography Studios at Suluh
hide-nav-border-bottom: true
---


<section class="mx-0 py-0 px-0">
    <div class="lg:grid lg:pl-[2.6vw]" style="grid-template-columns: 25vh 25rem 2fr;">
        <div class="vertical-text border-r-2 border-black pr-[2vw] hidden lg:flex justify-center items-center">
            <img src="/assets/images/shoot-logo-text-black.svg" alt="SHOOT">

        </div>

        <div class="p-8 flex items-end">
            <div>
                
                <h3 class="text-md">Take a look around our studio.</h3>
                <p class="">We built a state of the art studio in tropical Bali, covering both indoor and outdoor needs. With a range of sets, from our marble garden and mediterranean terrace to 144m2 rooftop, to our mid-century pool and lush wildflower gardens we have you covered.</p>
                <div class="border-y-2 border-black grid grid-cols-2 mb-8">
                    <div class="border-r-2 border-black">
                        <a href="/indoor-studio" class="py-4 pr-4 block ">
                            <span class="mr-2 clickable-underline">Indoor Studio</span> {% include icon/arrow-right.html color="black" width='1rem' %}
                        </a>
                    </div>
                    <div class="text-right">
                        <a href="/spaces" class="py-4 pl-4 block ">
                            <span class="mr-2 clickable-underline">Outdoor Studio</span> {% include icon/arrow-right.html color="black" width='1rem' %}
                        </a>
                    </div>
                </div>
                <div>
                    <img src="/assets/images/card-3-2.png" alt="outside picnic" class="rounded-4xl" />
                </div>
            </div>
            
        </div>
        <div class="relative rounded-3xl overflow-hidden">
            <img class="inset-0 absolute h-full w-full object-cover object-center" src="/assets/images/card-3-1.png" alt="two hands in water" />
        </div>

    </div>
</section>