---
layout: default
title: Homepage
reasons:
    -
        title: HIGH-END RESULTS
        short-description: >-
            Photography that feels expensive builds trust and elevates your
            brand.
        long-description: >-
            <p>When you look at a luxury brand, you can immediately feel the
            difference - it’s in the way the light hits the model or the
            product, the tone and texture of the background, the crisp clarity
            of the details even when you zoom in 5x.</p><p>As a brand, you often
            have to choose between affordable photography and elevated
            photography but with Suluh you get high-end results at a fraction of
            the price of most high-end creative studios.</p><p>Our team obsesses
            over details and has the experience (over a decade in the industry)
            and the space (a state-of-the-art studio with modern photography &
            lighting equipment) to deliver you consistently high end
            results.</p>
        images:
            -
                image: /assets/images/classic-model.jpg
                alt: A
            -
                image: /assets/images/ghost.jpg
                alt: b
    -
        title: TAILORED TO YOU
        short-description: >-
            Photography that feels expensive builds trust and elevates your
            brand.
        long-description: >-
            <p>When you look at a luxury brand, you can immediately feel the
            difference - it’s in the way the light hits the model or the
            product, the tone and texture of the background, the crisp clarity
            of the details even when you zoom in 5x.</p><p>As a brand, you often
            have to choose between affordable photography and elevated
            photography but with Suluh you get high-end results at a fraction of
            the price of most high-end creative studios.</p><p>Our team obsesses
            over details and has the experience (over a decade in the industry)
            and the space (a state-of-the-art studio with modern photography &
            lighting equipment) to deliver you consistently high end
            results.</p>
        images:
            -
                image: /assets/images/classic-model.jpg
                alt: A
            -
                image: /assets/images/ghost.jpg
                alt: b
    -
        title: HIGH-END RESULTS
        short-description: >-
            Photography that feels expensive builds trust and elevates your
            brand.
        long-description: >-
            <p>When you look at a luxury brand, you can immediately feel the
            difference - it’s in the way the light hits the model or the
            product, the tone and texture of the background, the crisp clarity
            of the details even when you zoom in 5x.</p><p>As a brand, you often
            have to choose between affordable photography and elevated
            photography but with Suluh you get high-end results at a fraction of
            the price of most high-end creative studios.</p><p>Our team obsesses
            over details and has the experience (over a decade in the industry)
            and the space (a state-of-the-art studio with modern photography &
            lighting equipment) to deliver you consistently high end
            results.</p>
        images:
            -
                image: /assets/images/classic-model.jpg
                alt: A
            -
                image: /assets/images/ghost.jpg
                alt: b
    -
        title: TAILORED TO YOU
        short-description: >-
            Photography that feels expensive builds trust and elevates your
            brand.
        long-description: >-
            <p>When you look at a luxury brand, you can immediately feel the
            difference - it’s in the way the light hits the model or the
            product, the tone and texture of the background, the crisp clarity
            of the details even when you zoom in 5x.</p><p>As a brand, you often
            have to choose between affordable photography and elevated
            photography but with Suluh you get high-end results at a fraction of
            the price of most high-end creative studios.</p><p>Our team obsesses
            over details and has the experience (over a decade in the industry)
            and the space (a state-of-the-art studio with modern photography &
            lighting equipment) to deliver you consistently high end
            results.</p>
        images:
            -
                image: /assets/images/classic-model.jpg
                alt: A
            -
                image: /assets/images/ghost.jpg
                alt: b
reasons-2:
    -
        title: HIGH-END RESULTS
        short-description: >-
            Photography that feels expensive builds trust and elevates your
            brand.
        long-description: >-
            <p>When you look at a luxury brand, you can immediately feel the
            difference - it’s in the way the light hits the model or the
            product, the tone and texture of the background, the crisp clarity
            of the details even when you zoom in 5x.</p><p>As a brand, you often
            have to choose between affordable photography and elevated
            photography but with Suluh you get high-end results at a fraction of
            the price of most high-end creative studios.</p><p>Our team obsesses
            over details and has the experience (over a decade in the industry)
            and the space (a state-of-the-art studio with modern photography &
            lighting equipment) to deliver you consistently high end
            results.</p>
        images:
            -
                image: /assets/images/classic-model.jpg
                alt: A
            -
                image: /assets/images/ghost.jpg
                alt: b
    -
        title: TAILORED TO YOU
        short-description: >-
            Photography that feels expensive builds trust and elevates your
            brand.
        long-description: >-
            <p>When you look at a luxury brand, you can immediately feel the
            difference - it’s in the way the light hits the model or the
            product, the tone and texture of the background, the crisp clarity
            of the details even when you zoom in 5x.</p><p>As a brand, you often
            have to choose between affordable photography and elevated
            photography but with Suluh you get high-end results at a fraction of
            the price of most high-end creative studios.</p><p>Our team obsesses
            over details and has the experience (over a decade in the industry)
            and the space (a state-of-the-art studio with modern photography &
            lighting equipment) to deliver you consistently high end
            results.</p>
        images:
            -
                image: /assets/images/classic-model.jpg
                alt: A
            -
                image: /assets/images/ghost.jpg
                alt: b
    -
        title: HIGH-END RESULTS
        short-description: >-
            Photography that feels expensive builds trust and elevates your
            brand.
        long-description: >-
            <p>When you look at a luxury brand, you can immediately feel the
            difference - it’s in the way the light hits the model or the
            product, the tone and texture of the background, the crisp clarity
            of the details even when you zoom in 5x.</p><p>As a brand, you often
            have to choose between affordable photography and elevated
            photography but with Suluh you get high-end results at a fraction of
            the price of most high-end creative studios.</p><p>Our team obsesses
            over details and has the experience (over a decade in the industry)
            and the space (a state-of-the-art studio with modern photography &
            lighting equipment) to deliver you consistently high end
            results.</p>
        images:
            -
                image: /assets/images/classic-model.jpg
                alt: A
            -
                image: /assets/images/ghost.jpg
                alt: b
    -
        title: TAILORED TO YOU
        short-description: >-
            Photography that feels expensive builds trust and elevates your
            brand.
        long-description: >-
            <p>When you look at a luxury brand, you can immediately feel the
            difference - it’s in the way the light hits the model or the
            product, the tone and texture of the background, the crisp clarity
            of the details even when you zoom in 5x.</p><p>As a brand, you often
            have to choose between affordable photography and elevated
            photography but with Suluh you get high-end results at a fraction of
            the price of most high-end creative studios.</p><p>Our team obsesses
            over details and has the experience (over a decade in the industry)
            and the space (a state-of-the-art studio with modern photography &
            lighting equipment) to deliver you consistently high end
            results.</p>
        images:
            -
                image: /assets/images/classic-model.jpg
                alt: A
            -
                image: /assets/images/ghost.jpg
                alt: b
featured-work-block:
    rows-1:
        images:
            -
                image: /uploads/sulu-featured-work-row1-01.jpg
                alt: featured 2
                text: We are a digital agency from Bali and we love xyz.
            -
                image: assets/images/featured-1.png
                text: We are a digital agency from Bali and we love xyz.
            -
                image: /uploads/sulu-featured-work-row1-02.jpg
                alt: featured 3
                text: We are a digital agency from Bali and we love xyz.
            -
                image: /uploads/sulu-featured-work-row1-03.jpg
                alt: ''
                text: ''
            -
                image: /uploads/sulu-featured-work-row1-04.jpg
                alt: ''
                text: ''
            -
                image: /uploads/sulu-featured-work-row1-05.jpg
                alt: ''
                text: ''
    rows-2:
        images:
            -
                image: /uploads/sulu-featured-work-row2-01.jpg
                alt: featured 3
                text: We are a digital agency from Bali and we love xyz.
            -
                image: assets/images/featured-1.png
                alt: featured 1
                text: We are a digital agency from Bali and we love xyz.
            -
                image: /uploads/sulu-featured-work-row2-02.jpg
                alt: featured 2
                text: We are a digital agency from Bali and we love xyz.
            -
                image: /uploads/sulu-featured-work-row2-03.jpg
                alt: ''
                text: ''
            -
                image: /uploads/sulu-featured-work-row2-04.jpg
                alt: ''
                text: ''
            -
                image: /uploads/sulu-featured-work-row2-05.jpg
                alt: ''
                text: ''
---
<section class="border-y-2 border-black">
    <div class="grid grid-cols-5">
        <div class="flex flex-col justify-center border-r-2 border-black">
            <h2 class="h-mono text-sm uppercase">OUR CLIENTS</h2>

        </div>
        <span class="flex items-center justify-center">{% include icon/vela.html width = '70%' %}</span>
        <span class="flex items-center justify-center">{% include icon/regent.html width = '83%' %}</span>
        <span class="flex items-center justify-center">{% include icon/nirjhara-logo.html width = '60%' %}</span>
        <span class="flex items-center justify-center">{% include icon/ing-full.html width = '96%' %}</span>

    </div>
</section>

<section class="grid grid-cols-3 gap-8">
    <div class="row-span-3 border-r-2 border-black">
        <h2 class="h-mono text-sm uppercase">what we do</h2>
    </div>
    <div class="flex gap-8">
        <div class="pt-4">{% include icon/watch.html width='3rem'%}</div>
        <div>
            <h3 class="text-sm">
                E-COMM
            </h3>
            <p>
                We are a digital agency from Bali and we love xyz.
            </p>
        </div>
    </div>
    <div class="flex gap-8">
        <div class="pt-4">{% include icon/watch.html width='3rem'%}</div>

        <div>
            <h3 class="text-sm">
                E-COMM
            </h3>
            <p>
                We are a digital agency from Bali and we love xyz.
            </p>
        </div>
    </div>
    <div class="col-span-2 border-b-2 border-black"></div>
    <div class="flex gap-8">
        <div class="pt-4">{% include icon/watch.html width='3rem'%}</div>
        <div>
            <h3 class="text-sm">
                E-COMM
            </h3>
            <p>
                We are a digital agency from Bali and we love xyz.
            </p>
        </div>
    </div>
    <div class="flex gap-8">
        <div class="pt-4">{% include icon/watch.html width='3rem'%}</div>

        <div>
            <h3 class="text-sm">
                E-COMM
            </h3>
            <p>
                We are a digital agency from Bali and we love xyz.
            </p>
        </div>
    </div>

</section>


<section class="grid grid-cols-3 gap-8 border-top-2 border-black">
    <div class="row-span-3 border-r-2 border-black pr-8">
        <h2 class="text-md">FEATURED WORK</h2>
        <p>We are a digital agency from Bali and we love xyz.</p>
        <p><a href="" class="button button-rounded button-featured">Button</a></p>
    </div>
    <div class="col-span-2">
        <img src="/assets/images/thoko.png" alt="" />
    </div>
    <div class="col-span-2 border-b-2 border-black"></div>
    <div class="grid grid-cols-2 gap-4 col-span-2">
        <img class="shrink w-full" src="/assets/images/featured-2.png" alt="" />
        <img class="shrink w-full" src="/assets//images/jewellery-2.png" alt="" />
    </div>

</section>

<section class="pb-0">

        <div>
            <h2 class="text-xl h-block mb-12">Transparent pricing. </h2>

        </div>

</section>
<section class="px-0 pt-0">
    
    <div class="px-[5vw]">
            <h3>FLAT-RATE PRODUCT PHOTOGRAPHY</h3>
            <p> Simple, affordable, per-image pricing - fill in our simple shoot planner, send us your products and we’ll handle everything else.</p>
    </div>

        <div class="flex flex-nowrap overflow-x-scroll gap-6 py-3 px-[var(--side-gap)]">
        
            {% assign flat-rate-photo = site.shoots | where_exp:"page","page.categories contains 'product'" %}
            {% for shoot in flat-rate-photo %}
            {% include shoot-block.html shoot=shoot  %}
            {% endfor %}
            
        </div>
    
</section>

<section class="px-0 pt-0"> 

    <div class="px-[5vw]">
            <h3>FLAT-RATE MODEL PHOTOGRAPHY</h3>
            <p> Simple, affordable, flat-rate that covers everything - the studio rental, the photographer, a professional model, hair & makeup artist, and image editing & re-touching. </p>
    </div>

        <div class="flex flex-nowrap overflow-x-scroll gap-6 py-3 px-[var(--side-gap)]">
        
            {% assign flat-rate-photo = site.shoots | where_exp:"page","page.categories contains 'model'" %}
            {% for shoot in flat-rate-photo %}
            
            {% include shoot-block.html shoot=shoot  %}
            {% endfor %}
        </div>
    
</section>


<section class="px-0 pt-0"> 

    <div class="px-[5vw]">
            <h3>CREATIVE CAMPAIGNS</h3>
            <p> More flexibility, more creativity designed just for your brand. Choose from a mini-shoot, a half-day or a full day and design your dream shoot. </p>
    </div>

        <div class="flex flex-nowrap overflow-x-scroll gap-6 py-3 px-[var(--side-gap)]">
        
            {% assign flat-rate-photo = site.shoots | where_exp:"page","page.categories contains 'creative'" %}
            {% for shoot in flat-rate-photo %}
            
            {% include shoot-block.html shoot=shoot  %}
            {% endfor %}
        </div>
    
</section>



<section class="px-0">
    <div class="px-[var(--side-gap)]">
        <h2 class="text-xl h-block">Why choose Suluh for your product photography</h2>
    </div>
    <div class="flex gap-6 flex-nowrap overflow-scroll px-[var(--side-gap)] mb-8">
        {% for reason in page.reasons %}
        <div class="flex-shrink-0 flex-grow-0 p-4 bg-white rounded-3xl cursor-pointer reasonButtons  {% if forloop.first %} active {% endif %} " style="width:250px" data-scroll-number="{{forloop.index0}}">
            <h4>{{forloop.index}}</h4>
            <h3>{{reason.title}}
            <p>{{reason.short-description}}</p>
        </h3></div>
        {% endfor %}
    </div>
    <div class="flex flex-nowrap overflow-scroll reasonGrid snap-x snap-mandatory">
        {% for reason in page.reasons %}
        <div class="px-[var(--side-gap)] w-screen shrink-0  snap-center">
            <div class="bg-white rounded-3xl flex overflow-hidden">
                <div class="relative gallery-image-holder max-h-full flex-1 basis-[40%]" style="aspect-ratio: 44/54;">
                    {% for image in reason.images %}
                        <img class="absolute w-full h-full object-cover {% if forloop.first %} active {% endif %}" src="{{image.image}}" alt="image.alt" />
                    {% endfor %}

                    <div class="absolute bottom-4 right-4 flex gap-1">
                        <div class="next py-4 px-5 border border-black rounded-full"> {% include icon/gallery-arrow-left.html width= "1rem" color="#000" %} </div>
                        <div class="prev py-4 px-5 border border-black rounded-full bg-black"> {% include icon/gallery-arrow-right.html width= "1rem" color="#fff" %} </div>
                    </div>
                </div>
                <div class="p-8 basis-[60%] flex items-center">
                    <div>
                        <p class="text-right">{{forloop.index}}</p>
                        <h3 class="text-lg">
                            {{reason.title}}
                        </h3>
                        <div>
                            {{reason.long-description}}
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        {% endfor %}
    </div>
</section>



<section>
    <div>
        <h2 class="text-xl h-block">Seamless from start to finish. </h2>
        <h3 class="text-lg">HIGH END + A FAST TURN AROUND</h3>
        <p>We try to make the process of creating gorgeous images for your brand as seamless as possible, so you can spend more time marketing, designing or curating your brand and less time worrying about your content. </p>
    </div>
    <div class="grid grid-cols-4 gap-6 overflow-scroll mb-8">
        {% for reason in page.reasons-2 %}
        <div class="flex-shrink-0 flex-grow-0 p-4 bg-black text-white rounded-3xl flex flex-col {% if forloop.first %} active {% endif %} min-h-[35vh]" data-scroll-number="{{forloop.index0}}">
            <h4 class="uppercase text-white/50 text-sm text-right "> step {% if forloop.index < 10 %}0{% endif %}{{forloop.index}}</h4>
            <h3 class="mt-auto">{{reason.title}}
            <p class="text-white">{{reason.short-description}}</p>
        </h3></div>
        {% endfor %}
    </div>
    <div class="text-right mb-[5vw]">
            <a class="px-4 py-3 rounded-full text-white bg-black inline-block">send it <img class="inline-block ml-8" style="width:2.8rem" src="/assets/images/quick-arrow.svg" alt="" /> </a>
    </div>
    <div class="grid grid-cols-2 gap-8">
        <div>
            <div class="flex-shrink-0 flex-grow-0 p-8 bg-black text-white rounded-3xl flex flex-col {% if forloop.first %} active {% endif %} min-h-[35vh]" data-scroll-number="{{forloop.index0}}">
                <h4 class="uppercase text-white/50 text-sm text-right "> OPTION 1</h4>
                <h3 class="mt-auto">DELIVER YOUR PRODUCTS DIRECT TO THE STUDIO
                <p class="text-white">With options to drop off your products* up to 20 days in advance to our secure dry storage facility via in-person or with your own shipping methods, it’s easy and convenient. </p>
                <a href="">GET IN TOUCH</a>
            </h3></div>
        </div>
        <div>
            <div class="flex-shrink-0 flex-grow-0 p-8 bg-black text-white rounded-3xl flex flex-col {% if forloop.first %} active {% endif %} min-h-[35vh]" data-scroll-number="{{forloop.index0}}">
                <h4 class="uppercase text-white/50 text-sm text-right "> OPTION 2</h4>
                <h3 class="mt-auto">USE ONE OF OUR TRUSTED INTERNATIONAL PARTNERS  
                <p class="text-white">We have built a network of trusted global shipping partners that makes the process of sending your products fast, secure and most importantly, as stress free as possible.  </p>
                <a href="">GET IN TOUCH</a>
            </h3></div>
        </div>
                
    </div>
</section>



<section class="bg-black text-white mx-0 py-0 px-0">
    <div class="lg:grid lg:pl-[5vw]" style="grid-template-columns: 17vh 25rem 2fr;">
        <div class="vertical-text border-r-2 border-white py-4 hidden lg:block">
            <h2 class="m-0 rotate-180 leading-none" style="font-size: 13rem;">STUDIO</h2>
        </div>

        <div class="px-8 py-[5vw] flex items-end">
            <div>
                
                <h3>Take a look around our studio.</h3>
                <p class="text-white">We built a state of the art studio in tropical Bali, covering both indoor and outdoor needs. With a range of sets, from our Mediterranean terrace to 144m2 rooftop, to our mid-century pool with diving board and 850m2 of gardens we have you covered.</p>
                <div class="border-y-2 border-white grid grid-cols-2 mb-8">
                    <div class="border-r-2 border-white">
                        <a href="#" class="py-4 pr-4 block">
                            <span class="pr-2">Indoor Studio</span> {% include icon/arrow-right.html color="white" width='1rem' %}
                        </a>
                    </div>
                    <div class="text-right">
                        <a href="#" class="py-4 pl-4 block">
                            <span class="pr-2">Outdoor Studio</span> {% include icon/arrow-right.html color="white" width='1rem' %}
                        </a>
                    </div>
                </div>
                <div>
                    <img src="/assets/images/outside.jpg" alt="outside picnic" />
                </div>
            </div>
            
        </div>
        <div class="relative rounded-3xl overflow-hidden" ">
            <img class="inset-0 absolute h-full w-full object-cover" src="assets/images/two-hands-in-water.jpg" alt="two hands in water" />
        </div>

    </div>
</section>

<section>
    <div>
        <h2 class="text-lg">
            FEATURED WORK
        </h2>
        <p>
            From skincare to makeup, showcase your beauty products in use with our  model photography services. Customize the shoot to meet your brand .
        </p>
    </div>
    <div class="grid grid-cols-3 gap-4">
        <div class="rounded-3xl relative overflow-hidden min-h-[45vh] flex items-end col-span-2 featured-work-gallery">
        {% for item in page.featured-work-block.rows-1.images limit: '1' %}
            <img class="absolute h-full w-full object-cover inset-0 featured-target-img" src="{{item.image}}" alt="{{item.alt}}" />
            <div class="p-4 relative flex items-center gap-3 ">
                <div class="next py-4 px-5 border border-black rounded-full"> {% include icon/gallery-arrow-left.html width= "1rem" color="#000" %} </div>
                <div class="prev py-4 px-5 border border-black rounded-full bg-black"> {% include icon/gallery-arrow-right.html width= "1rem" color="#fff" %} </div>
                <p class="text-black featured-target-text mb-0"> {{item.text}} </p>                       
            </div>
        {% endfor %}
            <div class="absolute left-[100vw] gallery-image-holder">
            {% for item in page.featured-work-block.rows-1.images  %}
                    <img src="{{item.image}}" alt="{{item.alt}}" data-text="{{item.text}}" />
            {% endfor %}
            </div>
        </div>
        <div class="rounded-3xl bg-black p-6 text-white min-h-[45vh] flex items-end">
            <div>
                <h3 class="text-lg">READY TO MAKE SOME MAGIC?</h3>
                <p class="text-white">Get in touch today and kick start the content you’ve been looking for. </p>
                <a href="#" class="text-black button button-rounded bg-white">I’M READY</a>
            </div>

        </div>
        
        <div class="rounded-3xl bg-black p-6 text-white min-h-[45vh] flex items-end">
            <div>
                <h3 class="text-lg">READY TO MAKE SOME MAGIC?</h3>
                <p class="text-white">Get in touch today and kick start the content you’ve been looking for. </p>
                <a href="#" class="text-black button button-rounded bg-white">I’M READY</a>
            </div>

        </div>
        <div class="rounded-3xl relative overflow-hidden min-h-[45vh] flex items-end col-span-2 featured-work-gallery">
        {% for item in page.featured-work-block.rows-2.images limit: '1' %}
            <img class="absolute h-full w-full object-cover inset-0 featured-target-img" src="{{item.image}}" alt="{{item.alt}}" />
            <div class="p-4 relative flex items-center gap-3 ">
                <div class="next py-4 px-5 border border-black rounded-full"> {% include icon/gallery-arrow-left.html width= "1rem" color="#000" %} </div>
                <div class="prev py-4 px-5 border border-black rounded-full bg-black"> {% include icon/gallery-arrow-right.html width= "1rem" color="#fff" %} </div>
                <p class="text-black featured-target-text mb-0"> {{item.text}} </p>                       
            </div>
        {% endfor %}
            <div class="absolute left-[100vw] gallery-image-holder">
            {% for item in page.featured-work-block.rows-1.images  %}
                    <img src="{{item.image}}" alt="{{item.alt}}" data-text="{{item.text}}" />
            {% endfor %}
            </div>
        </div>
    
    </div>
        
</section>

<script>


    let featuredGalleries = document.querySelectorAll('.featured-work-gallery')
    console.log(featuredGalleries, 'look here')

    featuredGalleries.forEach(gal => {
    let targetImages = gal.querySelector('.featured-target-img')
    let targetText = gal.querySelector('.featured-target-text')
    let images = gal.querySelectorAll('.gallery-image-holder img')
    let activeImage = 0
    let next = gal.querySelector('.next')
    let prev = gal.querySelector('.prev')

     console.log(next,prev,images.length - 1)

     function changeImage(n) {
        // console.log(n)
        activeImage = (activeImage + n) % images.length
        images.forEach(img => {
            if (images[activeImage] == img) {
                    targetImages.src = img.src
                    targetImages.alt = img.alt
                    targetText.innerHTML = img.dataset.text
            }
        })
     }

    //  console.log(changeImage)

     if (next) {
         next.addEventListener('click', () => {
             changeImage(1)
            })
    
         prev.addEventListener('click', () => { changeImage(images.length - 1) })

     } else {
        // console.log(gal, 'no gallery')
     }


    //  console.log(changeImage)


//   console.log(next,prev)
    })
</script>



<section class="bg-black text-white mx-0 py-0 px-0">
    <div class="lg:grid lg:pl-[5vw]" style="grid-template-columns: 17vh 1fr;">
        <div class="vertical-text border-r-2 border-white py-4 hidden lg:block mt-8">
            <h2 class="m-0 rotate-180 leading-none" style="font-size: 13rem;">CONTACT</h2>
        </div>

        <form class="px-8 py-[5vw] grid grid-cols-2">
            <div class="mt-16">
                <h3 class="text-lg">Get in touch with one of our team.</h3>
                <p class="text-white">We pride ourselves on the best possible service, from enquiry to delivered results, every message is important to us - even the ones you might think sound silly. 
                </p>
                
                <p class="text-white">
                    We are here to help :)
                </p>
                    <a href="#" class="border-t-2 border-white flex justify-between py-4">
                        <span>
                            Our Studio Location
                        </span>
                        <span>
                            Google Maps Link
                        </span>
                    </a>
                    <a href="#" class="border-t-2 border-white flex justify-between py-4">
                        <span>
                            Whatsapp
                        </span>
                        <span>
                            +62 878 617 915 29
                        </span>
                    </a>
                    <a href="#" class="border-t-2 border-white flex justify-between py-4">
                        <span>
                            Email
                        </span>
                        <span>
                            hello@suluhstudio.com
                        </span>
                    </a>
                    <a href="#" class="border-t-2 border-white flex justify-between py-4">
                        <span>
                            Office Opening Hours
                        </span>
                        <span>
                            8am - 6pm Mon to Sat 
                        </span>
                    </a>
                    <a href="#" class="border-y-2 border-white flex justify-between py-4 mb-12">
                        <span>
                            Studio Opening Hours
                        </span>
                        <span>
                            Via Bookings Only
                        </span>
                    </a>
            
                    <h3 class="text-lg">
                        Contact Form
                    </h3>
                    <input type="text" name="Name" placeholder="Name" class="border-b-2 border-white bg-black text-white placeholder:text-white w-full py-4 mb-4" />
                    <input type="text" name="Contact" placeholder="Email or Phone #" class="border-b-2 border-white bg-black text-white placeholder:text-white w-full py-4 mb-4" />
                    <input type="text" name="service type" placeholder="Type of service you are looking for" class="border-b-2 border-white bg-black text-white placeholder:text-white w-full py-4 mb-4" />
                </div>
                <div class="mb-16 pl-16">
                    <div class="relative rounded-3xl overflow-hidden h-full">
                        <img class="absolute inset-0 object-cover w-full h-full" src="/assets/images/furniture.jpg" alt="" />
                    </div>
                </div>  
                <div class="col-span-full">
                    
                    <input type="text" name="message" placeholder="Type your message here... We will reply within 48 hours" class="border-b-2 border-white bg-black text-white placeholder:text-white w-full py-4 mb-4" />

                    <div class="text-right">
                        <label class="px-4 py-3 rounded-full bg-slate-700 inline-block " for="submit">send it <img class="inline-block ml-8" style="width:2.8rem" src="/assets/images/quick-arrow.svg" alt="" /> </label>
                        <input id="submit" type="submit" value="" class="opacity-0 fixed -bottom-8" />
                    </div>
            </div>
        </form>

    </div>
</section>


<!-- 
<section class="bg-blue text-cream px-0">
    <div class="max-w-screen-xl mx-auto p-[5%]">
        <div class="flex justify-between items-center">
            <h2 class="text-lg heading-caps">sleep</h2>
            <p class="text-tiny md:text-base sub-heading text-right">stay a little longer</p>
        </div>
    </div>
    <div>
        <div class="flex flex-nowrap overflow-x-scroll gap-8 px-[var(--side-gap)]">
            {% for item in page.sleep-grid %}
            <a href="{{item.url}}" class="rounded-3xl overflow-hidden bg-cream text-blue shrink-0 w-4/5 sm:w-2/5 lg:w-1/4">
                <div class="relative overflow-hidden aspect-square round-t-3xl">
                    <img src="{{item.image}}" alt="{{image.alt}}" />
                </div>
                <div class="p-4">
                    <h3 class="sub-heading text-tiny md:text-base">
                        {{item.sub-heading}}
                    </h3>
                    <h3 class="text-sm md:text-md">{{item.heading}}</h3>
                    <p class="text-tiny md:text-base">
                        {{item.description}}
                    </p>
                </div>
            </a>
            {% endfor %}
        
      
   -->

<style>
    .gallery-image-holder img {
        opacity: 0;
        transition: .5s;
    }
    .gallery-image-holder img.active {
        opacity: 1;
    }

    
    .reasonButtons{
        border: 2px solid white;
    }

    .reasonButtons.active{
        border: 2px solid black;
    }
</style>

<script>
    {% include dialog.js %}

    let reasonButtons = document.querySelectorAll('.reasonButtons')
    let reasonGrid = document.querySelector('.reasonGrid')

    function reasonScroll(n) {
        // console.log(n * reasonGrid.width)
        reasonGrid.scrollTo({
            left: `${n * reasonGrid.clientWidth}`,
            behavior: "smooth",
        })
    }

reasonButtons.forEach(button => {
    button.addEventListener('click', () => {
        let target = button.dataset.scrollNumber
        // console.log(target)
        reasonButtons.forEach(b => {
            if (b == reasonButtons[target]) {
                b.classList.add("active")
            } else {
                b.classList.remove('active')
            }
            reasonScroll(target)
        })
    })
})

reasonScroll(0)

setInterval(() => {
    let newTarget = Math.floor((reasonGrid.scrollLeft)/(reasonGrid.clientWidth - 100))
//    console.log(newTarget,reasonGrid.clientWidth)
   reasonButtons.forEach(b => {
            if (b == reasonButtons[newTarget]) {
                b.classList.add("active")
            } else {
                b.classList.remove('active')
            }
        })
}, 500);





</script>