---
layout: default
title: Homepage
features:
    -   title:  FAST TURNAROUND
        icon: clock-rotate-right
        description: We offer guaranteed turnaround on all images, or your money back.
    - title:  High end results
      icon: fire-flame
      description: Elevated photography that boosts conversion and stops the scroll.  
    - title:  TAILORED TO YOU
      icon: color-filter
      description: From the lighting setup, to the models poses, to the final edit every step is customised to suit your brand.  
    - title:  REMOTE PHOTOSHOOT
      icon: camera
      description: Send us your product and let us handle the rest, or join the shoot remotely or in-person in Bali. 
reasons:
    -   title: HIGH-END RESULTS
        short-description: Photography that feels expensive builds trust and elevates your brand. 
        long-description: <p>When you look at a luxury brand, you can immediately feel the difference - it’s in the way the light hits the model or the product, the tone and texture of the background, the crisp clarity of the details even when you zoom in 5x.</p><p>As a brand, you often have to choose between affordable photography and elevated photography but with Suluh you get high-end results at a fraction of the price of most high-end creative studios.</p><p>Our team obsesses over details and has the experience (over a decade in the industry) and the space (a state-of-the-art studio with modern photography & lighting equipment) to deliver you consistently high end results.</p>
        images:
            -   image: /assets/images/classic-model.jpg
                alt: A
    -   title: TAILORED TO YOU
        short-description: Photography that feels expensive builds trust and elevates your brand. 
        long-description: >
             <p>Every element of our shoot can be tailored to suit your brand vision. Once you book your shoot you’ll receive our detailed shoot planning guide that covers all of the options in detail (including some that you probably never even considered) including: <ul class="inline-block p"><li>- background color (choose any Pantone or hex color)</li><li>- solid or transparent background</li><li>- lighting setup (for example soft even glow, bright sunlight, or dark & moody)</li><li>- shadow (none, soft, sharp, directional)</li><li>- props & styling</li><li>- models poses & expressions</li></ul></p><p>In our creative and per hour scenes you have even more flexibility - want your kombucha captured “in the rain”, or your model to on a staircase to nowhere surrounded by clouds, or literally anything else you can dream up? You bring the vision, we’ll bring it to life for you (or let our creative team handle the full creative direction & moodboards too).</p>
        images:
            -   image: /assets/images/classic-model.jpg
                alt: A
            -   image: /assets/images/ghost.jpg
                alt: b
    -   title: PERFECTLY ON BRAND
        short-description: All the little details to capture your brand personality. 
        long-description: <p>Photography is one of the most important elements of a brand’s marketing, it’s the thing that immediately captures your potential customers eye and they have already decided their perception of you from the first images they see - before they even bother to read any of your carefully written copy.</p><p>Whether your brand is soft and feminine or edgy and bold we pride ourselves on being able to capture the essence of your brand in every way that matters. We’ll talk to you about the lighting, the model selection, the poses & expressions, all the way to the final editing style </p>
        images:
            -   image: /assets/images/classic-model.jpg
                alt: A
            -   image: /assets/images/ghost.jpg
                alt: b
    -   title: REPEATABLE RESULTS
        short-description: We track everything and guarantee consistent results across every shoot.
        long-description: <p>When you look at a luxury brand, you can immediately feel the difference - it’s in the way the light hits the model or the product, the tone and texture of the background, the crisp clarity of the details even when you zoom in 5x.</p><p>As a brand, you often have to choose between affordable photography and elevated photography but with Suluh you get high-end results at a fraction of the price of most high-end creative studios.</p><p>Our team obsesses over details and has the experience (over a decade in the industry) and the space (a state-of-the-art studio with modern photography & lighting equipment) to deliver you consistently high end results.</p>
        images:
            -   image: /assets/images/classic-model.jpg
                alt: A
            -   image: /assets/images/ghost.jpg
                alt: b
    -   title: SEAMLESS PROCESS
        short-description: Photography that feels expensive builds trust and elevates your brand. 
        long-description: >-
             <p>When you look at a luxury brand, you can immediately feel the difference - it’s in the way the light hits the model or the product, the tone and texture of the background, the crisp clarity of the details even when you zoom in 5x. 
                As a brand, you often have to choose between affordable photography and elevated photography but with Suluh you get high-end results at a fraction of the price of most high-end creative studios. 

                Our team obsesses over details and has the experience (over a decade in the industry) and the space (a state-of-the-art studio with modern photography & lighting equipment) to deliver you consistently high end results. </p>
        images:
            -   image: /assets/images/classic-model.jpg
                alt: A
            -   image: /assets/images/ghost.jpg
                alt: b
reasons-2:
    -   title: HIGH-END RESULTS
        short-description: Photography that feels expensive builds trust and elevates your brand. 
        long-description: <p>When you look at a luxury brand, you can immediately feel the difference - it’s in the way the light hits the model or the product, the tone and texture of the background, the crisp clarity of the details even when you zoom in 5x.</p><p>As a brand, you often have to choose between affordable photography and elevated photography but with Suluh you get high-end results at a fraction of the price of most high-end creative studios.</p><p>Our team obsesses over details and has the experience (over a decade in the industry) and the space (a state-of-the-art studio with modern photography & lighting equipment) to deliver you consistently high end results.</p>
        images:
            -   image: /assets/images/classic-model.jpg
                alt: A
            -   image: /assets/images/ghost.jpg
                alt: b
    -   title: TAILORED TO YOU
        short-description: Photography that feels expensive builds trust and elevates your brand. 
        long-description: <p>Every element of our shoot can be tailored to suit your brand vision. Once you book your shoot you’ll receive our detailed shoot planning guide that covers all of the options in detail (including some that you probably never even considered) including:<ul><li>- background color (choose any Pantone or hex color)</li><li>- solid or transparent background</li><li>- lighting setup (for example soft even glow, bright sunlight, or dark & moody)</li><li>- shadow (none, soft, sharp, directional)</li><li>- props & styling</li><li>- models poses & expressions</li></ul></p><p>In our creative and per hour scenes you have even more flexibility - want your kombucha captured “in the rain”, or your model to on a staircase to nowhere surrounded by clouds, or literally anything else you can dream up? You bring the vision, we’ll bring it to life for you (or let our creative team handle the full creative direction & moodboards too).</p>


        images:
            -   image: /assets/images/classic-model.jpg
                alt: A
            -   image: /assets/images/ghost.jpg
                alt: b
    -   title: HIGH-END RESULTS
        short-description: Photography that feels expensive builds trust and elevates your brand. 
        long-description: <p>When you look at a luxury brand, you can immediately feel the difference - it’s in the way the light hits the model or the product, the tone and texture of the background, the crisp clarity of the details even when you zoom in 5x.</p><p>As a brand, you often have to choose between affordable photography and elevated photography but with Suluh you get high-end results at a fraction of the price of most high-end creative studios.</p><p>Our team obsesses over details and has the experience (over a decade in the industry) and the space (a state-of-the-art studio with modern photography & lighting equipment) to deliver you consistently high end results.</p>
        images:
            -   image: /assets/images/classic-model.jpg
                alt: A
            -   image: /assets/images/ghost.jpg
                alt: b
    -   title: TAILORED TO YOU
        short-description: Photography that feels expensive builds trust and elevates your brand. 
        long-description: <p>When you look at a luxury brand, you can immediately feel the difference - it’s in the way the light hits the model or the product, the tone and texture of the background, the crisp clarity of the details even when you zoom in 5x.</p><p>As a brand, you often have to choose between affordable photography and elevated photography but with Suluh you get high-end results at a fraction of the price of most high-end creative studios.</p><p>Our team obsesses over details and has the experience (over a decade in the industry) and the space (a state-of-the-art studio with modern photography & lighting equipment) to deliver you consistently high end results.</p>
        images:
            -   image: /assets/images/classic-model.jpg
                alt: A
            -   image: /assets/images/ghost.jpg
                alt: b
featured-work-block:
    rows-1:
        images: 
            -   image: /assets/images/featured-2.png
                alt: featured 1
                text: We are a digital agency from Bali and we love xyz.
                alt: featured 2
            -   image: assets/images/featured-1.png
                text: We are a digital agency from Bali and we love xyz.
            -   image: /assets/images/featured-3.png
                alt: featured 3
                text: We are a digital agency from Bali and we love xyz.
    rows-2:
        images: 
            - image: /assets/images/featured-3.png
              alt: featured 3
              text: We are a digital agency from Bali and we love xyz.
            - image: assets/images/featured-1.png
              alt: featured 1
              text: We are a digital agency from Bali and we love xyz.
            - image: /assets/images/featured-2.png
              alt: featured 2
              text: We are a digital agency from Bali and we love xyz.



---


    <header class="p-[5%] pb-0 ">
      <div class="flex justify-between border-b-2 border-dark">
            <h2 class="mb-0 pt-4"> Suluh Studios</h2>
            <nav class="flex justify-end items-center pb-8">
                <span class="burger-button lg:hidden z-50"></span>
                <span class="border-r-2 border-dark py-2 pr-8 mr-8 hidden lg:inline-block">
                

                {% for link in site.data.navigation.header %}
                {% if link.featured %}
                <a href="{{link.link}}" class="ml-4 {% if link.featured %}button-featured button-rounded {% endif %}">{{link.name}}</a>
                {% endif %}
                {% endfor %}
            </span> 
            <a href="" class="p-2 border-2 border-dark rounded-full mr-4 hidden lg:inline-flex">
                    {% include icon/facebook.html width = '1.3rem' %}
            </a>
            <a href="" class="p-2 border-2 border-dark rounded-full hidden lg:inline-flex mr-4">
                {% include icon/instagram.html width = '1.3rem' %}
            </a>
            <a href="" class="p-2 border-2 border-dark rounded-full hidden lg:inline-flex">
                {% include icon/whatsApp.html width = '1.3rem' %}
            </a>
            
        </nav>


        <!-- Burger Menu -->
        <div class="burger-menu sm:hidden fixed top-0 left-[100vw] bg-white/95 w-full h-screen p-8 transition-all duration-300 ease-in-out z-30 text-center pt-40">
            <div class="flex flex-col justify-center items-center gap-8">
                {% for link in site.data.navigation.header %}
                <a href="{{link.link}}" class="mb-4 {% if link.featured %}button-featured button-rounded {% endif %}">{{link.name}}</a>
                {% endfor %}
            <a href="" class="p-2 border-2 border-dark rounded-full inline-flex">
                    {% include icon/facebook.html width = '1.3rem' %}
            </a>
            <a href="" class="p-2 border-2 border-dark rounded-full inline-flex">
                {% include icon/instagram.html width = '1.3rem' %}
            </a>
            <a href="" class="p-2 border-2 border-dark rounded-full inline-flex">
                {% include icon/whatsApp.html width = '1.3rem' %}
            </a>
            </div>

        </div>
        </div>
    </header>


<section class="pb-0">
    <div class="grid lg:grid-cols-2 gap-8 border-b-2 border-dark pb-[5%] items-end">
        <div class="">
            <h1 class="text-lg sm:text-xl md:text-2xl h-block editable">
                Elevated studio photography
            </h1>
            <p class="md:text-sm editable">
                Full-service creative agency in Bali that delivers high-end e-commerce & lifestyle photography with affordable, transparent pricing and a streamlined process. 
            </p>
            
        </div>
        <div class="aspect-auto: 7/5.6 rounded">
            <img src="/assets/images/featured-3.png" alt="">
        </div>
    </div>
</section>

<!-- <section class="border-y-2 border-dark">
    <div class="grid grid-cols-5">
        <div class="flex flex-col justify-center border-r-2 border-dark">
            <h2 class="h-mono text-sm uppercase">OUR CLIENTS</h2>

        </div>
        <span class="flex items-center justify-center">{% include icon/vela.html width = '70%' %}</span>
        <span class="flex items-center justify-center">{% include icon/regent.html width = '83%' %}</span>
        <span class="flex items-center justify-center">{% include icon/nirjhara-logo.html width = '60%' %}</span>
        <span class="flex items-center justify-center">{% include icon/ing-full.html width = '96%' %}</span>

    </div>
</section> -->

<section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-0 ">
    <div class="col-span-full lg:col-span-1 row-span-3 lg:border-dark lg:border-r-2">
        <h2 class="text-lg md:h-mono md:text-md md:uppercase">What we do</h2>
    </div>

    {% for item in page.features limit:2 %}

    <div class="flex lg:p-8 lg:border-r-2">
        
        <div class="hidden lg:block"> <i class="iconoir-{{item.icon}} text-sm pr-4"></i></div>
        <div>
            <h3 class="text-sm uppercase">
                {{item.title}}
            </h3>
            <p class="text-balance">
                {{item.description}}
            </p>
        </div>
        </div>
    </div>

    {% endfor %}

    {% for item in page.features offset:2 %}

    <div class="flex lg:p-8 lg:border-r-2">
        <div class="hidden lg:block"> <i class="iconoir-{{item.icon}} text-sm pr-4"></i></div>
        <div>
            <h3 class="text-sm uppercase">
                {{item.title}}
            </h3>
            <p class="text-balance">
                {{item.description}}
            </p>
        </div>
    </div>

    {% endfor %}

</section>

<div class="mx-[5%] border-b-2"></div>

<section>
    <div class="max-w-screen-md mb-[3%]">
        <h2 class="text-lg md:uppercase mb-0">
            Featured Work
        </h2>
        <p class="text-balance">
            From skincare to makeup, showcase your beauty products in use with our  model photography services. Customize the shoot to meet your brand .
        </p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
        <div class="rounded-3xl relative overflow-hidden min-h-[65vh] flex items-end col-span-2 featured-work-gallery">
        {% for item in page.featured-work-block.rows-1.images limit: '1' %}
            <img class="absolute h-full w-full object-cover inset-0 featured-target-img" src="{{item.image}}" alt="{{item.alt}}">
            <div class="p-4 relative flex items-center gap-3 ">
                <div class="next py-4 px-5 border border-dark rounded-full"> {% include icon/gallery-arrow-left.html width= "1rem" color="#000" %} </div>
                <div class="prev py-4 px-5 border border-dark rounded-full bg-dark"> {% include icon/gallery-arrow-right.html width= "1rem" color="#fff" %} </div>
                <p class="text-dark featured-target-text mb-0"> {{item.text}} </p>                       
            </div>
        {% endfor %}
            <div class="absolute left-[100vw] gallery-image-holder">
            {% for item in page.featured-work-block.rows-1.images  %}
                    <img src="{{item.image}}" alt="{{item.alt}}" data-text="{{item.text}}">
            {% endfor %}
            </div>
        </div>

        <div class="rounded-3xl bg-dark p-6 text-white min-h-[65vh] flex items-end">
            <div>
                <h3 class="text-sm leading-[1.1]">READY TO MAKE <br> SOME MAGIC?</h3>
                <p class="text-white text-balance">Get in touch today and kick start the content you’ve been looking for. </p>
                <a href="#" class="text-dark button button-rounded bg-white">I’M READY</a>
            </div>

        </div>
        
        <div class="rounded-3xl bg-dark p-6 text-white min-h-[65vh] items-end hidden md:flex">
            <div>
                <h3 class="text-sm uppercase leading-[1.1]">Looking for more of our portfolio?</h3>
                <p class="text-white text-balance">With over a decade of experience behind us over a range of niches, we've got you covered. </p>
                <a href="/portfolio" class="button-light button-rounded button-arrow">Portfolio </a>
            </div>

        </div>
        <div class="rounded-3xl relative overflow-hidden min-h-[65vh] flex items-end col-span-2 featured-work-gallery">
        {% for item in page.featured-work-block.rows-2.images limit: '1' %}
            <img class="absolute h-full w-full object-cover inset-0 featured-target-img" src="{{item.image}}" alt="{{item.alt}}">
            <div class="p-4 relative flex items-center gap-3 ">
                <div class="next py-4 px-5 border border-dark rounded-full"> {% include icon/gallery-arrow-left.html width= "1rem" color="#000" %} </div>
                <div class="prev py-4 px-5 border border-dark rounded-full bg-dark"> {% include icon/gallery-arrow-right.html width= "1rem" color="#fff" %} </div>
                <p class="text-dark featured-target-text mb-0"> {{item.text}} </p>                       
            </div>
        {% endfor %}
            <div class="absolute left-[100vw] gallery-image-holder">
            {% for item in page.featured-work-block.rows-1.images  %}
                    <img src="{{item.image}}" alt="{{item.alt}}" data-text="{{item.text}}">
            {% endfor %}
            </div>
        </div>
    
    </div>
        
</section>

<section class="pb-0 mt-12">

        <div>
            <h2 class="text-lg md:text-xl h-block mb-12 leading-[1.1]">Transparent pricing. </h2>

        </div>

</section>
<section class="px-0 pt-0">
    
    <div class="px-[5vw] max-w-screen-lg">
            <h3 class="text-[1.8rem]">FLAT-RATE PRODUCT PHOTOGRAPHY</h3>
            <p class="text-balance"> Simple, affordable, per-image pricing - fill in our simple shoot planner, send us your products and we’ll handle everything else.</p>
    </div>

        <div class="flex flex-nowrap overflow-x-scroll gap-6 py-3 px-[var(--side-gap)]">
        
            {% assign flat-rate-photo = site.shoots | where_exp:"page","page.categories contains 'product'" %}
            {% for shoot in flat-rate-photo %}
            {% include shoot-block.html shoot=shoot  %}
            {% endfor %}
            
        </div>
    </div>
</section>

<section class="px-0 pt-0"> 

    <div class="px-[5vw] max-w-screen-lg">
            <h3 class="text-[1.8rem]">FLAT-RATE MODEL PHOTOGRAPHY</h3>
            <p class="text-balance"> Simple, affordable, flat-rate that covers everything - the studio rental, the photographer, a professional model, hair & makeup artist, and image editing & re-touching. </p>
    </div>

        <div class="flex flex-nowrap overflow-x-scroll gap-6 py-3 px-[var(--side-gap)]">
        
            {% assign flat-rate-photo = site.shoots | where_exp:"page","page.categories contains 'model'" %}
            {% for shoot in flat-rate-photo %}
            
            {% include shoot-block.html shoot=shoot  %}
            {% endfor %}
        </div>
    </div>
</section>


<section class="px-0 pt-0"> 

    <div class="px-[5vw] max-w-screen-lg">
            <h3 class="text-[1.8rem]">CREATIVE CAMPAIGNS</h3>
            <p class="text-balance"> More flexibility, more creativity designed just for your brand. Choose from a mini-shoot, a half-day or a full day and design your dream shoot. </p>
    </div>

        <div class="flex flex-nowrap overflow-x-scroll gap-6 py-3 px-[var(--side-gap)]">
        
            {% assign flat-rate-photo = site.shoots | where_exp:"page","page.categories contains 'creative'" %}
            {% for shoot in flat-rate-photo %}
            
            {% include shoot-block.html shoot=shoot  %}
            {% endfor %}
        </div>
    </div>
</section>



<section class="bg-dark text-white mx-0 py-0 px-0">
    <div class="lg:grid lg:pl-[5vw]" style="grid-template-columns: 17vh 25rem 2fr;">
        <div class="vertical-text border-r-2 border-white py-4 hidden lg:block">
            <h2 class="m-0 rotate-180 leading-none font-black" style="font-size: 27vh;">STUDIO</h2>
        </div>

        <div class="p-8 flex items-end">
            <div>
                
                <h3 class="text-md">Take a look around our studio.</h3>
                <p class="text-white">We built a state of the art studio in tropical Bali, covering both indoor and outdoor needs. With a range of sets, from our Mediterranean terrace to 144m2 rooftop, to our mid-century pool with diving board and 850m2 of gardens we have you covered.</p>
                <div class="border-y-2 border-white grid grid-cols-2 mb-8">
                    <div class="border-r-2 border-white">
                        <a href="/studio" class="py-4 pr-4 block">
                            <span class="pr-2">Indoor Studio</span> {% include icon/arrow-right.html color="white" width='1rem' %}
                        </a>
                    </div>
                    <div class="text-right">
                        <a href="/studio" class="py-4 pl-4 block">
                            <span class="pr-2">Outdoor Studio</span> {% include icon/arrow-right.html color="white" width='1rem' %}
                        </a>
                    </div>
                </div>
                <div>
                    <img src="/assets/images/outside.jpg" alt="outside picnic">
                </div>
            </div>
            
        </div>
        <div class="relative rounded-3xl overflow-hidden"">
            <img class="inset-0 absolute h-full w-full object-cover" src="assets/images/two-hands-in-water.jpg" alt="two hands in water">
        </div>

    </div>
</section>




<section class="px-0">
    <div class="px-[var(--side-gap)]">
        <h2 class="text-lg md:text-xl h-block">Why choose Suluh for your product photography</h2>
    </div>
    <div class="flex gap-4 flex-nowrap overflow-x-scroll [var(--side-gap)] mb-8 px-[var(--side-gap)] pb-8">
        {% for reason in page.reasons %}
        <div class="basis-2/5 md:basis-1/5 md:shrink shrink-0 p-4 bg-white rounded-3xl cursor-pointer reasonButtons  {% if forloop.first %} active {% endif %} " data-scroll-number="{{forloop.index0}}" >
            <h4 class="h-mono opacity-60 text-[1.1rem] mb-8">0{{forloop.index}}</h4>
            <h3 class="text-[1.1rem] max-w-24 h-mono">{{reason.title}}</h2>
            <p class="text-xs">{{reason.short-description}}</p>
        </div>
        {% endfor %}
    </div>

    <div class="flex flex-nowrap overflow-scroll reasonGrid snap-x snap-mandatory pb-4">
        {% for reason in page.reasons %}
        <div class="px-[var(--side-gap)] w-screen shrink-0  snap-center">
            <div class="bg-white rounded-3xl flex flex-col md:flex-row overflow-hidden">
                <div class="relative gallery-image-holder min-h-30vh max-h-full flex-1 basis-full md:basis-[40%] md:order-1 order-2" style="aspect-ratio: 44/54;">
                    {% for image in reason.images %}
                        <img class="absolute w-full h-full object-cover {% if forloop.first %} active {% endif %}" src="{{image.image}}" alt="image.alt">
                    {% endfor %}

                    {% if reason.images.size > 1 %}
                    <div class="absolute bottom-4 right-4 flex gap-1">
                        <div class="next py-4 px-5 border border-dark rounded-full"> <i class="iconoir-arrow-left align-middle" aria-hidden="true"></i> </div>
                        <div class="prev py-4 px-5 border border-dark rounded-full bg-dark text-white"> <i class="iconoir-arrow-right align-middle" aria-hidden="true"></i> </div>
                    </div>
                    {% endif %} 
                </div>
                <div class="p-8 md:basis-[60%] flex-shrink-0 basis-full">
                    <div class="flex flex-col justify-between h-full">
                        <p class="hidden md:block text-right h-mono">0{{forloop.index}}</p>
                        <div>
                        <h3 class="text-md md:text-lg uppercase">
                            {{reason.title}}
                        </h3>
                        <div>
                            {{reason.long-description}}
                        </div>
                    </div>
                    </div>
                </div>
            </div>  
        </div>
        {% endfor %}
    </div>
</section>





<script>


    let featuredGalleries = document.querySelectorAll('.featured-work-gallery')
    console.log(featuredGalleries, 'look here')

    featuredGalleries.forEach(gal => {
    let images = gal.querySelectorAll('.gallery-image-holder img')
    if (images.length < 2 ) {
        
    let targetImages = gal.querySelector('.featured-target-img')
    let targetText = gal.querySelector('.featured-target-text')
    let activeImage = 0
    let next = gal.querySelector('.next')
    let prev = gal.querySelector('.prev')

     console.log(next,prev,images.length - 1)

     function changeImage(n) {
        // console.log(n)
        activeImage = (activeImage + n) % images.length
        images.forEach(img => {
            if (images[activeImage] == img) {
                    targetImages.src = img.src
                    targetImages.alt = img.alt
                    targetText.innerHTML = img.dataset.text
            }
        })
     }

    //  console.log(changeImage)

     if (next) {
         next.addEventListener('click', () => {
             changeImage(1)
            })
    
         prev.addEventListener('click', () => { changeImage(images.length - 1) })

     } else {
        // console.log(gal, 'no gallery')
     }


    //  console.log(changeImage)

    }
//   console.log(next,prev)
    })
</script>




<style>
    .gallery-image-holder img {
        opacity: 0;
        transition: .5s;
    }
    .gallery-image-holder img.active {
        opacity: 1;
    }

    
    .reasonButtons{
        border: 2px solid white;
    }

    .reasonButtons.active{
        border: 2px solid var(--dark);
    }
</style>

<script>
    {% include dialog.js %}

    let reasonButtons = document.querySelectorAll('.reasonButtons')
    let reasonGrid = document.querySelector('.reasonGrid')

    function reasonScroll(n) {
        // console.log(n * reasonGrid.width)
        reasonGrid.scrollTo({
            left: `${n * reasonGrid.clientWidth}`,
            behavior: "smooth",
        })
    }

reasonButtons.forEach(button => {
    button.addEventListener('click', () => {
        let target = button.dataset.scrollNumber
        // console.log(target)
        reasonButtons.forEach(b => {
            if (b == reasonButtons[target]) {
                b.classList.add("active")
            } else {
                b.classList.remove('active')
            }
            reasonScroll(target)
        })
    })
})

reasonScroll(0)

setInterval(() => {
    let newTarget = Math.floor((reasonGrid.scrollLeft)/(reasonGrid.clientWidth - 100))
//    console.log(newTarget,reasonGrid.clientWidth)
   reasonButtons.forEach(b => {
            if (b == reasonButtons[newTarget]) {
                b.classList.add("active")
            } else {
                b.classList.remove('active')
            }
        })
}, 500);





</script>