---
layout: default
title: Studios | Indoor & Outdoor Photography Studios at Suluh
reasons:
    -
        title: HIGH-END RESULTS
        short-description: >-
            Photography that feels expensive builds trust and elevates your
            brand.
        long-description: >-
            <p>When you look at a luxury brand, you can immediately feel the
            difference - it’s in the way the light hits the model or the
            product, the tone and texture of the background, the crisp clarity
            of the details even when you zoom in 5x.</p><p>As a brand, you often
            have to choose between affordable photography and elevated
            photography but with Suluh you get high-end results at a fraction of
            the price of most high-end creative studios.</p><p>Our team obsesses
            over details and has the experience (over a decade in the industry)
            and the space (a state-of-the-art studio with modern photography &
            lighting equipment) to deliver you consistently high end
            results.</p>
        images:
            -
                image: /assets/images/classic-model.jpg
                alt: A
            -
                image: /assets/images/ghost.jpg
                alt: b
    -
        title: TAILORED TO YOU
        short-description: >-
            Photography that feels expensive builds trust and elevates your
            brand.
        long-description: >-
            <p>When you look at a luxury brand, you can immediately feel the
            difference - it’s in the way the light hits the model or the
            product, the tone and texture of the background, the crisp clarity
            of the details even when you zoom in 5x.</p><p>As a brand, you often
            have to choose between affordable photography and elevated
            photography but with Suluh you get high-end results at a fraction of
            the price of most high-end creative studios.</p><p>Our team obsesses
            over details and has the experience (over a decade in the industry)
            and the space (a state-of-the-art studio with modern photography &
            lighting equipment) to deliver you consistently high end
            results.</p>
        images:
            -
                image: /assets/images/classic-model.jpg
                alt: A
            -
                image: /assets/images/ghost.jpg
                alt: b
    -
        title: HIGH-END RESULTS
        short-description: >-
            Photography that feels expensive builds trust and elevates your
            brand.
        long-description: >-
            <p>When you look at a luxury brand, you can immediately feel the
            difference - it’s in the way the light hits the model or the
            product, the tone and texture of the background, the crisp clarity
            of the details even when you zoom in 5x.</p><p>As a brand, you often
            have to choose between affordable photography and elevated
            photography but with Suluh you get high-end results at a fraction of
            the price of most high-end creative studios.</p><p>Our team obsesses
            over details and has the experience (over a decade in the industry)
            and the space (a state-of-the-art studio with modern photography &
            lighting equipment) to deliver you consistently high end
            results.</p>
        images:
            -
                image: /assets/images/classic-model.jpg
                alt: A
            -
                image: /assets/images/ghost.jpg
                alt: b
    -
        title: TAILORED TO YOU
        short-description: >-
            Photography that feels expensive builds trust and elevates your
            brand.
        long-description: >-
            <p>When you look at a luxury brand, you can immediately feel the
            difference - it’s in the way the light hits the model or the
            product, the tone and texture of the background, the crisp clarity
            of the details even when you zoom in 5x.</p><p>As a brand, you often
            have to choose between affordable photography and elevated
            photography but with Suluh you get high-end results at a fraction of
            the price of most high-end creative studios.</p><p>Our team obsesses
            over details and has the experience (over a decade in the industry)
            and the space (a state-of-the-art studio with modern photography &
            lighting equipment) to deliver you consistently high end
            results.</p>
        images:
            -
                image: /assets/images/classic-model.jpg
                alt: A
            -
                image: /assets/images/ghost.jpg
                alt: b
    -
        title: TAILORED TO YOU
        short-description: >-
            Photography that feels expensive builds trust and elevates your
            brand.
        long-description: >-
            <p>When you look at a luxury brand, you can immediately feel the
            difference - it’s in the way the light hits the model or the
            product, the tone and texture of the background, the crisp clarity
            of the details even when you zoom in 5x.</p><p>As a brand, you often
            have to choose between affordable photography and elevated
            photography but with Suluh you get high-end results at a fraction of
            the price of most high-end creative studios.</p><p>Our team obsesses
            over details and has the experience (over a decade in the industry)
            and the space (a state-of-the-art studio with modern photography &
            lighting equipment) to deliver you consistently high end
            results.</p>
        images:
            -
                image: /assets/images/classic-model.jpg
                alt: A
            -
                image: /assets/images/ghost.jpg
                alt: b
---
<!-- <section class=" mx-0 py-0 px-0  border-dark bg-white ">
    <div class="grid pl-[5vw]" style="grid-template-columns: 17vh 25rem 2fr;">
        <div class="vertical-text border-r-2 border-dark py-4">
            <h2 class="m-0 rotate-180 leading-none " style="font-size: 13rem;">STUDIO</h2>
        </div>

        <div class="p-8 flex items-end">
            <div>
                
                <h3>Take a look around our studio.</h3>
                <p>We built a state of the art studio in tropical Bali, covering both indoor and outdoor needs. With a range of sets, from our Mediterranean terrace to 144m2 rooftop, to our mid-century pool with diving board and 850m2 of gardens we have you covered.</p>
                <div class="border-y-2 border-dark grid grid-cols-2 mb-8">
                    <div class="border-r-2 border-dark">
                        <a href="#indoor" class="py-4 pr-4 block">
                            <span class="pr-2">Indoor Studio</span> {% include icon/arrow-right.html color="white" width='1rem' %}
                        
                    
                    <div class="text-right">
                        <a href="#outdoor" class="py-4 pl-4 block">
                            <span class="pr-2">Outdoor Studio</span> {% include icon/arrow-right.html color="white" width='1rem' %}
                        </a>
                    </div>
                
                <div>
                    <img src="/assets/images/outside.jpg" alt="outside picnic" />
                </div>
            
            
        
        <div class="relative overflow-hidden">
            <img class="inset-0 absolute h-full w-full object-cover" src="assets/images/two-hands-in-water.jpg" alt="two hands in water" />
        </div>

    
 -->

<section class="pb-0">

        <div>
            <h2 class="text-xl h-block mb-12">Bali Photography Studio </h2>
        </div>

</section>
<section class="px-0 pt-0 md:px-[5vw]" id="indoor">
    
    <div class="max-w-screen-md px-[5vw] md:px-0 mb-8">
        <h3 class="uppercase text-md">Indoor studio spaces</h3>
        <p> State of the art photography studio with a mix of natural light and artificial lighting options to create stunning e-commerce, fashion & studio imagery.</p>
    </div>

        <div class="flex flex-nowrap md:grid grid-cols-3 overflow-x-scroll gap-8 py-3 px-[var(--side-gap)] md:p-0">
        
            {% assign indoor-spaces = site.spaces | sort: "order" | where_exp:"page","page.categories contains 'indoor'"   %}
            {% for shoot in indoor-spaces %}
            <div class="dialog-grid-button basis-[300px] shrink-0 mb-12">
                <div class="relative rounded mb-4" style="aspect-ratio: 45/55;">
                    {% if shoot.short-pricing %}
                    <span class="text-xs bg-white rounded-lg absolute top-4 right-4 p-2">{{shoot.short-pricing}} </span>
                    {% endif %}
                    <img class="rounded-2xl aspect-4/5 w-full object-cover" src="{{shoot.featured-images[0].image}}" alt="{{shoot.featured-images[0].alt}}">
                </div>
                <h2>{{shoot.name}}</h2>
                <p class="text-balance text-xs">{{shoot.short-description}}</p>
            </div>

            {% comment %}
            <dialog>
                <div class="grid w-[80vw] h-[80vh]" style="grid-template-columns: 400px 1fr;">
                    <div class="p-4 h-[80vh] overflow-scroll">

                        {% for q in shoot.faq %}
                        <div class="question">
                            <div class="max-height-true">
                                <div class="faq-header flex justify-between max-height-question  p-2">
                                    <p class="h-mono mb-0 text-sm uppercase text-dark">{{q.q}}</p>
                                    <div class="faq-x">
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                                <div class="answer overflow-hidden transition-all" style="height: 0px;">
                                    <div class="true-height px-2 pb-2">
                                        {{q.a}}
                                    </div>
                                </div>

                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="relative gallery-image-holder">
                        {% for image in shoot.featured-images %}
                            <img class="absolute w-full h-full object-cover {% if forloop.first %} active {% endif %}" src="{{image.image}}" alt="image.alt" />
                        {% endfor %}
                        <div class="absolute right-4 flex items-center z-20 h-full">
                            <h3 class="absolute rotate-180 right-0 vertical-text" style="font-size: {{shoot.vertical-font-vh}};">{{shoot.name}}</h3>
                        </div>

                        <div class="absolute bottom-4 right-4 flex gap-1">
                            <div class="next py-4 px-5 border border-dark rounded-full"> {% include icon/gallery-arrow-left.html width= "1rem" color="#000" %} </div>
                            <div class="prev py-4 px-5 border border-dark rounded-full bg-dark"> {% include icon/gallery-arrow-right.html width= "1rem" color="#fff" %} </div>
                        </div>
                    </div>
                </div>
            </dialog>
            {% endcomment %}

            {% endfor %}
        </div>
    
</section>

<section class="px-0 pt-0" id="outdoor"> 

    <div class="px-[5vw] max-w-screen-lg mb-8">
            <h3 class="uppercase text-md">Outdoor Studio spaces </h3>
            <p class="text-balance"> Simple, affordable, flat-rate that covers everything - the studio rental, the photographer, a professional model, hair & makeup artist, and image editing & re-touching. </p>
    </div>

        <div class="flex flex-nowrap md:grid grid-cols-3 overflow-x-scroll gap-6 py-3 px-[var(--side-gap)]">

            {% assign outdoor-spaces = site.spaces | where_exp:"page","page.categories contains 'outdoor'" %}
            {% for shoot in outdoor-spaces %}
            <div class="dialog-grid-button basis-[300px] shrink-0">
                <div class="relative rounded mb-4" style="aspect-ratio: 45/55;">
                    {% if shoot.short-pricing %}
                    <span class="text-xs bg-white rounded-lg absolute top-4 right-4 p-2">{{shoot.short-pricing}} </span>
                    {% endif %}
                    <img class="rounded-2xl aspect-4/5 w-full object-cover" src="{{shoot.featured-images[0].image}}" alt="{{shoot.featured-images[0].alt}}">
                </div>
                <h2>{{shoot.name}}</h2>
                <p>{{shoot.short-description}}</p>
            </div>

            {% comment %}
            <dialog>
                <div class="grid w-[80vw] h-[80vh]" style="grid-template-columns: 400px 1fr;">
                    <div class="p-4 h-[80vh] overflow-scroll">

                        {% for q in shoot.faq %}
                        <div class="question">
                            <div class="max-height-true">
                                <div class="faq-header flex justify-between max-height-question  p-2">
                                    <p class="h-mono mb-0 text-sm uppercase text-dark">{{q.q}}</p>
                                    <div class="faq-x">
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                                <div class="answer overflow-hidden transition-all" style="height: 0px;">
                                    <div class="true-height px-2 pb-2">
                                        {{q.a}}
                                    </div>
                                </div>

                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="relative gallery-image-holder">
                        {% for image in shoot.featured-images %}
                            <img class="absolute w-full h-full object-cover {% if forloop.first %} active {% endif %}" src="{{image.image}}" alt="image.alt" />
                        {% endfor %}
                        <div class="absolute right-4 flex items-center z-20 h-full">
                            <h3 class="absolute rotate-180 right-0 vertical-text" style="font-size: {{shoot.vertical-font-vh}};">{{shoot.name}}</h3>
                        </div>

                        <div class="absolute bottom-4 right-4 flex gap-1">
                            <div class="next py-4 px-5 border border-dark rounded-full"> {% include icon/gallery-arrow-left.html width= "1rem" color="#000" %} </div>
                            <div class="prev py-4 px-5 border border-dark rounded-full bg-dark"> {% include icon/gallery-arrow-right.html width= "1rem" color="#fff" %} </div>
                        </div>
                    </div>
                </div>
            </dialog>
            {% endcomment %}
            {% endfor %}
        </div>
    
</section>




<style>
    .gallery-image-holder img {
        opacity: 0;
        transition: .5s;
    }
    .gallery-image-holder img.active {
        opacity: 1;
    }

    
    .reasonButtons{
        border: 2px solid white;
    }

    .reasonButtons.active{
        border: 2px solid black;
    }
</style>



<section class="bg-dark text-white mx-0 py-0 px-0">
    <div class="lg:grid" style="grid-template-columns: 1fr 5fr;">
        <!-- <div class="vertical-text border-r-2 border-white py-4 hidden lg:block mt-8">
            <h2 class="m-0 rotate-180 leading-none" style="font-size: 13rem;">SHOOT</h2>
        </div> -->
        <div class="border-r-2 border-white py-4 hidden lg:block text-center py-[5vw]">
            <img class="max-h-[95vh]" src="/assets/icons/contact-light.svg" alt="contact" />
        </div>

        <form class="px-8 py-[5vw] grid md:grid-cols-2" action="/success" netlify>
            <div class="mt-16">
                <h3 class="text-lg">Rates & <br> Availability</h3>
                <p class="text-white mb-12 text-balance">Whether you're looking for studio rental, a full service photography package or to host an event at Suluh, get in touch for more details. </p>
                
                    <input type="text" name="Name" placeholder="Name"  class="h-mono border-b-2 border-white bg-dark text-white placeholder:text-white w-full py-2 mb-6">
                    <input type="text" name="Phone" placeholder="Phone # or Whatsapp"  class="h-mono border-b-2 border-white bg-dark text-white placeholder:text-white w-full py-2 mb-6">
                    <input type="email" name="Contact" placeholder="Email"  class="h-mono border-b-2 border-white bg-dark text-white placeholder:text-white w-full py-2 mb-6">
                    <input type="text" name="service type" placeholder="Are you looking for photography or studio rental only?" class="h-mono border-b-2 border-white bg-dark text-white placeholder:text-white w-full py-2 mb-6">
                    <input type="text" name="service type" placeholder="Which spaces are you interested in booking and when" class="h-mono border-b-2 border-white bg-dark text-white placeholder:text-white w-full py-2 mb-6">
                    <textarea name="message" placeholder="Type your message here... We will reply within 48 hours" class="h-mono border-b-2 border-white bg-dark text-white placeholder:text-white w-full py-2 mb-6 mt-4"></textarea>

                    <div class="text-right mt-2">
                        <label class="p-2 pl-5 rounded-full bg-grey-dark inline-block button-rounded border-none" for="submit">SEND IT <img class="inline-block ml-8" style="width:2rem" src="/assets/images/quick-arrow.svg" alt=""> </label>
                        <input id="submit" type="submit" value="" class="opacity-0 fixed -bottom-8">
                    </div>
                </div>
                <div class="pl-8 lg:pl-16">
                    <div class="relative rounded-3xl overflow-hidden h-full">
                        <img class="absolute inset-0 object-cover w-full h-full" src="/assets/images/sulu-studio-space-1.jpg" alt="">
                    </div>
                </div>  
        </form>

    </div>
</section>