---
layout: default
title: Studios | Indoor & Outdoor Photography Studios at Suluh
studio-images-1:
    - alt: img 1
      url: uploads/sulu-indoor-campaign-photography-01.jpg
    - alt: img 2
      url: uploads/sulu-indoor-campaign-photography-02.jpg
    - alt: img 3
      url: uploads/sulu-indoor-campaign-photography-03.jpg
    - alt: img 4
      url: uploads/sulu-indoor-campaign-photography-04.jpg
    - alt: img 5
      url: uploads/sulu-indoor-campaign-photography-05.jpg
    - alt: img 6
      url: uploads/sulu-indoor-campaign-photography-06.jpg
studio-images-2:
    - alt: img 1
      url: uploads/sulu-indoor-campaign-photography-01.jpg
    - alt: img 2
      url: uploads/sulu-indoor-campaign-photography-02.jpg
    - alt: img 3
      url: uploads/sulu-indoor-campaign-photography-03.jpg
    - alt: img 4
      url: uploads/sulu-indoor-campaign-photography-04.jpg
    - alt: img 5
      url: uploads/sulu-indoor-campaign-photography-05.jpg
    - alt: img 6
      url: uploads/sulu-indoor-campaign-photography-06.jpg
sets-images:
    - alt: img 1
      url: uploads/sulu-indoor-campaign-photography-01.jpg
      heading: Minimalist neutral
      p: Using cool toned lights and a soft even glow, get that concrete feeling. 
      hover-images:
        - alt: img 2
          url: uploads/sulu-indoor-campaign-photography-02.jpg
        - alt: img 3
          url: uploads/sulu-indoor-campaign-photography-03.jpg
        - alt: img 4
          url: uploads/sulu-indoor-campaign-photography-04.jpg
        - alt: img 5
          url: uploads/sulu-indoor-campaign-photography-05.jpg
        - alt: img 6
          url: uploads/sulu-indoor-campaign-photography-06.jpg
    - alt: img 1
      url: uploads/sulu-indoor-campaign-photography-01.jpg
      heading: Minimalist neutral
      p: Using cool toned lights and a soft even glow, get that concrete feeling. 
      hover-images:
        - alt: img 2
          url: uploads/sulu-indoor-campaign-photography-02.jpg
        - alt: img 3
          url: uploads/sulu-indoor-campaign-photography-03.jpg
        - alt: img 4
          url: uploads/sulu-indoor-campaign-photography-04.jpg
        - alt: img 5
          url: uploads/sulu-indoor-campaign-photography-05.jpg
        - alt: img 6
          url: uploads/sulu-indoor-campaign-photography-06.jpg
    - alt: img 1
      url: uploads/sulu-indoor-campaign-photography-01.jpg
      heading: Minimalist neutral
      p: Using cool toned lights and a soft even glow, get that concrete feeling. 
      hover-images:
        - alt: img 2
          url: uploads/sulu-indoor-campaign-photography-02.jpg
        - alt: img 3
          url: uploads/sulu-indoor-campaign-photography-03.jpg
        - alt: img 4
          url: uploads/sulu-indoor-campaign-photography-04.jpg
        - alt: img 5
          url: uploads/sulu-indoor-campaign-photography-05.jpg
        - alt: img 6
          url: uploads/sulu-indoor-campaign-photography-06.jpg
    - alt: img 1
      url: uploads/sulu-indoor-campaign-photography-01.jpg
      heading: Minimalist neutral
      p: Using cool toned lights and a soft even glow, get that concrete feeling. 
      hover-images:
        - alt: img 2
          url: uploads/sulu-indoor-campaign-photography-02.jpg
        - alt: img 3
          url: uploads/sulu-indoor-campaign-photography-03.jpg
        - alt: img 4
          url: uploads/sulu-indoor-campaign-photography-04.jpg
        - alt: img 5
          url: uploads/sulu-indoor-campaign-photography-05.jpg
        - alt: img 6
          url: uploads/sulu-indoor-campaign-photography-06.jpg
    - alt: img 1
      url: uploads/sulu-indoor-campaign-photography-01.jpg
      heading: Minimalist neutral
      p: Using cool toned lights and a soft even glow, get that concrete feeling. 
      hover-images:
        - alt: img 2
          url: uploads/sulu-indoor-campaign-photography-02.jpg
        - alt: img 3
          url: uploads/sulu-indoor-campaign-photography-03.jpg
        - alt: img 4
          url: uploads/sulu-indoor-campaign-photography-04.jpg
        - alt: img 5
          url: uploads/sulu-indoor-campaign-photography-05.jpg
        - alt: img 6
          url: uploads/sulu-indoor-campaign-photography-06.jpg
    - alt: img 1
      url: uploads/sulu-indoor-campaign-photography-01.jpg
      heading: Minimalist neutral
      p: Using cool toned lights and a soft even glow, get that concrete feeling. 
      hover-images:
        - alt: img 2
          url: uploads/sulu-indoor-campaign-photography-02.jpg
        - alt: img 3
          url: uploads/sulu-indoor-campaign-photography-03.jpg
        - alt: img 4
          url: uploads/sulu-indoor-campaign-photography-04.jpg
        - alt: img 5
          url: uploads/sulu-indoor-campaign-photography-05.jpg
        - alt: img 6
          url: uploads/sulu-indoor-campaign-photography-06.jpg
    - alt: img 1
      url: uploads/sulu-indoor-campaign-photography-01.jpg
      heading: Minimalist neutral
      p: Using cool toned lights and a soft even glow, get that concrete feeling. 
      hover-images:
        - alt: img 2
          url: uploads/sulu-indoor-campaign-photography-02.jpg
        - alt: img 3
          url: uploads/sulu-indoor-campaign-photography-03.jpg
        - alt: img 4
          url: uploads/sulu-indoor-campaign-photography-04.jpg
        - alt: img 5
          url: uploads/sulu-indoor-campaign-photography-05.jpg
        - alt: img 6
          url: uploads/sulu-indoor-campaign-photography-06.jpg
    - alt: img 1
      url: uploads/sulu-indoor-campaign-photography-01.jpg
      heading: Minimalist neutral
      p: Using cool toned lights and a soft even glow, get that concrete feeling. 
      hover-images:
        - alt: img 2
          url: uploads/sulu-indoor-campaign-photography-02.jpg
        - alt: img 3
          url: uploads/sulu-indoor-campaign-photography-03.jpg
        - alt: img 4
          url: uploads/sulu-indoor-campaign-photography-04.jpg
        - alt: img 5
          url: uploads/sulu-indoor-campaign-photography-05.jpg
        - alt: img 6
          url: uploads/sulu-indoor-campaign-photography-06.jpg
    - alt: img 1
      url: uploads/sulu-indoor-campaign-photography-01.jpg
      heading: Minimalist neutral
      p: Using cool toned lights and a soft even glow, get that concrete feeling. 
      hover-images:
        - alt: img 2
          url: uploads/sulu-indoor-campaign-photography-02.jpg
        - alt: img 3
          url: uploads/sulu-indoor-campaign-photography-03.jpg
        - alt: img 4
          url: uploads/sulu-indoor-campaign-photography-04.jpg
        - alt: img 5
          url: uploads/sulu-indoor-campaign-photography-05.jpg
        - alt: img 6
          url: uploads/sulu-indoor-campaign-photography-06.jpg
images-hover-speed: 1500

faq:
    - q: What equipment do you have?
      a: We have a range of Profoto lights, modifiers and light shaping tools, as well as a selection of backdrops and props. We also have a range of cameras and lenses available for hire.
      featured-images:
        - image: uploads/sulu-indoor-campaign-photography-01.jpg
          alt: img 1
          text-color-light: true
        - image: uploads/sulu-indoor-campaign-photography-01.jpg
          alt: img 2
          text-color-light: false
    - q: What equipment do you have?
      a: We have a range of Profoto lights, modifiers and light shaping tools, as well as a selection of backdrops and props. We also have a range of cameras and lenses available for hire.
      featured-images:
        - image: uploads/sulu-indoor-campaign-photography-01.jpg
          alt: img 1
          text-color-light: true
        - image: uploads/sulu-indoor-campaign-photography-02.jpg
          alt: img 2
          text-color-light: false
    - q: What equipment do you have?
      a: We have a range of Profoto lights, modifiers and light shaping tools, as well as a selection of backdrops and props. We also have a range of cameras and lenses available for hire.
      featured-images:
        - image: uploads/sulu-indoor-campaign-photography-05.jpg
          alt: img 1
          text-color-light: true
        - image: uploads/sulu-indoor-campaign-photography-03.jpg
          alt: img 2
          text-color-light: false
    - q: What equipment do you have?
      a: We have a range of Profoto lights, modifiers and light shaping tools, as well as a selection of backdrops and props. We also have a range of cameras and lenses available for hire.
      featured-images:
        - image: uploads/sulu-indoor-campaign-photography-07.jpg
          alt: img 1
          text-color-light: true
        - image: uploads/sulu-indoor-campaign-photography-04.jpg
          alt: img 2
          text-color-light: false
---

<section class="bg-dark">
        <div class="flex justify-center items-center relative min-h-[80vh]">
            <img src="/uploads/studio-banner.jpg" alt="indoor studio" class="w-full h-full object-cover inset-0 absolute rounded-4xl">
            <div class="max-w-3xl z-10 relative">
                <h1 class="text-lg sm:text-xl md:text-2xl h-block editable mb-2 text-white">studio rental.</h1>
                <p class="text-balance text-black">Welcome to our indoor studio - a huge 12m x 7m space with natural textured limewash walls, beautiful polished concrete floors and huge floor to ceiling windows. </p>
                <a href="/portfolio" class="button-light button-rounded button-arrow">Portfolio </a>
            </div>
        </div>
</section>

<section class="pb-0">
    <div class="grid md:grid-cols-2">
        <div class="sticky top-0 h-[calc(100vh)] flex flex-col justify-end pr-8 py-8">
            <h2>INDOOR PHOTOGRAPHY STUDIO IN CEMAGI, BALI</h2>
            <p>From skincare to makeup, showcase your beauty products in use with our  model photography services. Customize the shoot to meet your brand.</p>
            <p>Showcase your beauty products in use with our  model photography services.</p>
            <p>First we’ll have a call to run you through the process and make sure you understand exactly that to expect, we’ll learn your preferences.</p>
            <p>At this stage you’ll have lots of options to do cool shit and get really excited about your product.</p>
        </div>
        
        <div class="">
            {% for image in page.studio-images-1 %}
                <img src="{{ image.url }}" alt="{{ image.alt }}" class="w-full">
            {% endfor %}
        </div>
    </div>
</section>
    
<section class="pt-0">
    <div class="grid md:grid-cols-2">
        <div>
            {% for image in page.studio-images-2 %}
                <img src="{{ image.url }}" alt="{{ image.alt }}" class="w-full">
            {% endfor %}
        </div>
        <div class="sticky top-0 h-[calc(100vh)] flex flex-col justify-end pl-8">
            <h2>DESIGNED BY PHOTOGRAPHERS, FOR PHOTOGRAPHERS. </h2>
            <p>From skincare to makeup, showcase your beauty products in use with our  model photography services. Customize the shoot to meet your brand.</p>
            <p>Showcase your beauty products in use with our  model photography services.</p>
            <p>First we’ll have a call to run you through the process and make sure you understand exactly that to expect, we’ll learn your preferences.</p>
            <p>At this stage you’ll have lots of options to do cool shit and get really excited about your product.</p>

        </div>
        
    </div>
</section>



<section class="px-0 bg-dark text-white">
    
    <div class="px-[5vw] max-w-screen-lg">
            <h3 class="text-[1.8rem]">EXPLORE SETS & STYLES</h3>
            <p class="text-balance"> On studio, endless options to create a space that fits your brand vision. </p>
    </div>

        <div class="flex flex-nowrap overflow-x-scroll gap-6 py-3 px-[var(--side-gap)]">
        
            {% for shoot in page.sets-images %}
            <div class="hover-slideshow-container shrink-0 w-5/6 md:w-2/7">
                <div class="relative rounded mb-4" style="aspect-ratio: 45/55;" data-current-slide="0" data-total-slides="{{shoot.hover-images | size}}">
                    <img class="rounded-2xl aspect-4/5 w-full object-cover relative z-10 hover-slideshow-image-initial" src="{{shoot.url}}" alt="{{shoot.alt}}">
                    <img class="hover-slideshow-image-secondary rounded-2xl aspect-4/5 w-full object-cover absolute top-0 left-0" src="{{shoot.hover-images.first.url}}" alt="{{shoot.alt}}">
                </div>
                <h2 class="text-[1.2rem]">{{shoot.heading}}</h2>
                <p class="text-xs">{{shoot.p}}</p>
                <div class="hidden data-div">
                    {% for image in shoot.hover-images %}
                        <img class="hidden" src="{{image.url}}" alt="{{image.alt}}">
                    {% endfor %}
                </div>
            </div>
                

            
            {% endfor %}
            
        </div>
    
</section>

<script>
{% include hover-slide.js %}
</script>

<section>
    <div class="col-span-full mb-16">
        <h2 class="text-5xl text-center max-w-[32rem] mx-auto">photography studio details</h2>
    </div>
<div class="md:grid w-[80vw] md:h-[90vh] relative border-2 rounded-4xl border-black " style="grid-template-columns: 3fr 4fr;">
    {% for q in page.faq %}
    <div class="{% unless forloop.first %} hidden {% endunless %} md:order-2 faq-galleries rounded-r-4xl overflow-hidden" data-gallery-number="{{forloop.index}}">
        <div class="relative gallery-image-holder h-[90vh] ">
            {% for image in q.featured-images %}
            <img class="absolute w-full h-full object-cover {% if forloop.first %} active {% endif %}" src="{{image.image}}" alt="image.alt" data-text-color="{% if image.text-color-light %}light{% else %}dark{% endif %}">
            {% endfor %}
            
            {% if q.featured-images.size > 1 %}
            <div class="absolute bottom-4 right-4 flex gap-1">
                <div class="next"> {% include icon/gallery-arrow-left.html width= "3rem" color="#000" %} </div>
                <div class="prev"> {% include icon/gallery-arrow-right.html width= "3rem" color="#fff" %} </div>
            </div>
            {% endif %}
            
        </div>
    </div>
    {% endfor %}

        <div class="md:h-[90vh] md:overflow-y-scroll">

            {% for q in page.faq %}
            <div class="question border-b-1 border-grey-dark p-4" data-q-number="{{forloop.index}}">
                <div class="max-height-true">
                    <div class="faq-header flex justify-between max-height-question  p-2">
                        <p class="h-mono mb-0 text-sm uppercase text-dark">{{q.q}}</p>
                        <div class="faq-x">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="answer overflow-hidden transition-all" style="height: 0px;">
                        <div class="true-height p-2">
                            {{q.a}}
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
</section>
    <script>
        //  don't have both this js and the dialog js as its repeated code With small changes to enable multi gallery bassed on selected faq. 
    let questions = document.querySelectorAll('.question')
    let faqGalleries = document.querySelectorAll('.faq-galleries')
    console.log(questions, 'questions')
     questions.forEach(question => {
        let answer =  question.querySelector('.answer')

        question.addEventListener('click', ()=>{
                faqGalleries.forEach(gal => gal.classList.add('hidden'))
                faqGalleries.forEach(gal => {
                    if (gal.dataset.galleryNumber == question.dataset.qNumber) {
                        gal.classList.remove('hidden')
                    }
                })
                questions.forEach(q => {
                    if (q != question) {
                        q.classList.remove('active')
                        q.querySelector('.answer').style.height = '0px'
                    } else {
                        q.classList.add('active')
                        answer.style.height = `${answer.scrollHeight}px`
                    }
                })
            question.classList.toggle('active')
            // console.log(answer.scrollHeight)
            // if (question.classList.contains('active')) {
            //     answer.style.height = `${answer.scrollHeight}px`
            // } else {
            //     answer.style.height = `0px`  
            // }
        })
     })
        
        
    let galleries = document.querySelectorAll('.gallery-image-holder')

    galleries.forEach(gal => {
    let images = gal.querySelectorAll('img')
    let activeImage = 0
    let next = gal.querySelector('.next')
    let prev = gal.querySelector('.prev')
    let verticalText = gal.querySelector('.vertical-text')


     function changeImage(n) {
        // console.log(n)
        activeImage = (activeImage + n) % images.length
        images.forEach(img => {
            if (images[activeImage] == img) {
            img.classList.add('active')
            if(verticalText && img.dataset.textColor) {

                if (img.dataset.textColor == 'light') {
                    verticalText.style.color = '#fff'
                } else {
                    verticalText.style.color = '#000'
                }
            }
            } else {
                img.classList.remove('active')
            }
        })
     }


     if (next) {
         next.addEventListener('click', () => {
             changeImage(1)
            })
    
         prev.addEventListener('click', () => { changeImage(images.length - 1) })

     } else {
        // console.log(gal, 'no gallery')
     }


    })
    </script>
    
    <style>

    </style>