---
layout: default
title: Studios | Indoor & Outdoor Photography Studios at Suluh
single-space:
    - 
        name: INDOOR STUDIO
        description: 85m2 photography studio with natural and studio lighting, huge windows and limewash walls.
        half_day: 4 mill
        full_day: 7 mill
        extended: 10 mill
    - 
        name: MARBLE GARDEN
        description: A vast marble pebble studio with stone feature wall, lush gardens and feature trees. windows and limewash walls.
        half_day: 4 mill
        full_day: 7 mill
        extended: 10 mill
    - 
        name: MEDITERANEAN COURTYARD
        description: Built-in outdoor kitchen, limestone feature walls, and 25m2 rooftop. 
        half_day: 4 mill
        full_day: 7 mill
        extended: 10 mill
    - 
        name: POOL STUDIO
        description: 300m space with stunning above ground swimming pool, courtyard & citrus garden. 
        half_day: 4 mill
        full_day: 7 mill
        extended: 10 mill
bundles:
    - 
        name: ANY TWO SPACES
        description: Pick any two spaces at Suluh, indoor or outdoor. 
        half_day: 6 mill
        full_day: 10 mill
        extended: 12 mill
    - 
        name: ALL OUTDOOR SPACES
        description: All three outdoor spaces, almost 1000m2 with endless flexibility
        half_day: 7 mill
        full_day: 12 mill
        extended: 16 mill
    - 
        name: ALL OF SULUH
        description: Our indoor photography studio + all three outdoor spaces, exclusively for you. 
        half_day: 10 mill
        full_day: 16 mill
        extended: 20 mill
inclusions:
    - 
        name: DONE-FOR-YOU LIGHTING SETUP
        description-html: 
            <p>Choose one of our complimentary lighting styles, and our team will  setup it all up for you to match the mood you’ve picked. </p>
            
    - 
        name: FLASH LIGHTING KIT
        description-html: 
            <p class="mb-0">2x Godox AD600 Flash</p><p class="mb-0">1x Godox AD200 Flash</p><p class="mb-0">Flash trigger for Canon or Sony </p>
            
    - 
        name: DONE-FOR-YOU LIGHTING SETUP
        description-html: 
            <p class="mb-0">3x Colbor CL220 R
            </p>
            <p>
                1x Godox SL300
            </p>
                <p>
                    
                The Colbor CL220 is a continuous lights with very high color accuracy that can be programmed to any RGB color. The Godox SL300 is daylight balanced (5600K). This kit can be used for both photo & video. </p>
                

    - 
        name: LIGHT SHAPING & STANDS
        description-html: 
            <p>A wide range of light modifiers (from big umbrellas and soft boxes to fresnels) to shape the studio lighting. We also have 2x standard V-flat, reflectors and bounce boards, and a full range of grip including C-stands, backdrop stands, butterflies, tripods and sand bags. 
            </p>
            
            <p>See the full list of complimentary light modifiers & grip <a href="#" class="font-bold">here</a>. </p>
    - 
        name: NATURAL LIGHT & CURTAINS
        description-html: 
            <p>All three large windows in the studio have both sheer white curtains and natural linen curtains for privacy and a stunning backdrop.
            </p>
            
            <p>
                You can also request for the curtains to be removed (bare windows) or for blackout curtains to be added at no additional cost. </p>
    - 
        name: HIGH PERFORMANCE AC & FANS
        description-html: 
            <p>We’re pretty sure we have the coldest air-conditioning set of any studio on the island, so whether you’re coming in from the heat or shooting a winter campaign we’ve got you covered. </p>
    - 
        name: FACILITIES
        description-html: 
            <p>We have everything you need for a seamless shoot and a space that’s setup just for you -- we’ll ask your preferences when you book and ensure you have everything you need and nothing you don’t.
            </p>
            
            <p>
                Our faciliaties include up to 6x movable tables to setup products & styling, clothing racks & hangers, full-length mirror, 3x steamers, fast wifi, bluetooth speaker, toilets, hot & cold water dispenser and a styling / changing area. </p>
    - 
        name: FURNITURE & PROPS
        description-html: 
            <p>We have a range of complimentary furniture & props, including antique timber stools, modern studio chairs, large handmade teracotta pots & pot plants. 
            </p>
            <p>
                See the full list of both complimentary props <a href="#" class="font-bold">here</a>. </p>
add-ons:
    - 
        name: STUDIO ASSISTANT
        description: Our studio assistant who can help carry equipment between spaces, setup lighting & outdoor diffusion, hold an umbrella for shade, etc.
        price: 250k
        per_description: per hour 
    - 
        name: STEAMING ASSISTANT
        description: Handled with care, our steaming assistant will assist with steaming all garments ready for the shoot. 
        price: 500k
        per_description: per hour 
    - 
        name: ADVANCED LIGHTING SETUP
        description: Choose any of our advanced lighting styles, and have them setup up for you ready to shoot. 
        price: 2 mill
        per_description: per shoot
    - 
        name: ARTIFICIAL SUNLIGHT
        description: The antidote to the unpredictable Bali weather, we’ll setup a sophisticated lighting setup including cinema grade lighting to stream ‘sunlight’ through the window all day long. 
        price: 3 mill
        per_description: per shoot
    - 
        name: DIGITAL TETHER & MONITOR
        description: Full tethering kit with laptop stand, 4.6m Tetherpro USB-C to USB-C thethering cable and secondary monitor (for the model, client or team). 
        price: 500k
        per_description: per shoot
    - 
        name: BACKDROPS & PROPS
        description: Choose one of premium backdrops (including a walnut timber backdrop wall, luxurious fabric, colored paper) or a range of props from our prop library - see the full list <a href="#" class="font-bold">here</a>. 
        price: Varies
        per_description: see details
    - 
        name: DEDICATED BTS
        description: A dedicated content creator capturing BTS of the shoot without getting in the way of any of the team, including all behind the scenes footage & images. 
        price: 1.5 mill
        per_description: per shoot
---

<section class="pb-0">

        <div>
            <h2 class="text-xl h-block mb-12 text-center">studio pricing</h2>
            <h3 class="text-lg  text-center">single space</h3>
        </div>
        <div class="grid border-2 border-black rounded-4xl mx-auto overflow-x-scroll" style="grid-template-columns: 1fr repeat(3,10rem); max-width: 1000px;">
            <div class="border-r border-b border-gray-300 text-center p-4"></div>
            <div class="border-r border-b border-gray-300 text-center p-4">
                <h3>HALF DAY</h3>
                <p>Up to 5 hours</p>
            </div>
            <div  class="border-r border-b border-gray-300 text-center p-4">
                <h3>FULL DAY</h3>
                <p>Up to 10 hours</p>
            </div>
            <div  class="border-b border-gray-300 text-center p-4">
                <h3>EXTENDED</h3>
                <p>5am - midnight</p>
            </div>
        {% for space in page.single-space %}
            <div class="border-r border-b border-gray-300 p-4">
                <h3>{{space.name}}</h3>
                <p class="text-balance">{{space.description}}</p>
            </div>
            <div class="border-r border-b border-gray-300 text-center p-4 flex justify-center items-center">
                <p class="text-sm text-black">{{space.half_day}}</p>
            </div>
            <div  class="border-r border-b border-gray-300 flex justify-center items-center p-4">
                <p class="text-sm text-black">{{space.full_day}}</p>
            </div>
            <div  class="border-b border-gray-300 flex justify-center items-center p-4">
                <p class="text-sm text-black">{{space.extended}}</p>
            </div>
        {% endfor %}
        </div>


</section>

<section class="pb-0">

        <div>
            <h3 class="text-lg text-center">studio bundles</h3>
        </div>
        <div class="grid border-2 border-black rounded-4xl mx-auto overflow-x-scroll" style="grid-template-columns: 1fr repeat(3,10rem); max-width: 1000px;">
            <div class="border-r border-b border-gray-300 text-center p-4"></div>
            <div class="border-r border-b border-gray-300 text-center p-4">
                <h3>HALF DAY</h3>
                <p>Up to 5 hours</p>
            </div>
            <div  class="border-r border-b border-gray-300 text-center p-4">
                <h3>FULL DAY</h3>
                <p>Up to 10 hours</p>
            </div>
            <div  class="border-b border-gray-300 text-center p-4">
                <h3>EXTENDED</h3>
                <p>5am - midnight</p>
            </div>
        {% for space in page.bundles %}
            <div class="border-r border-b border-gray-300 p-4">
                <h3>{{space.name}}</h3>
                <p class="text-balance">{{space.description}}</p>
            </div>
            <div class="border-r border-b border-gray-300 text-center p-4 flex justify-center items-center">
                <p class="text-sm text-black">{{space.half_day}}</p>
            </div>
            <div  class="border-r border-b border-gray-300 flex justify-center items-center p-4">
                <p class="text-sm text-black">{{space.full_day}}</p>
            </div>
            <div  class="border-b border-gray-300 flex justify-center items-center p-4">
                <p class="text-sm text-black">{{space.extended}}</p>
            </div>
        {% endfor %}
        </div>


</section>

<section>
    <div class="grid md:grid-cols-2 gap-4">
        <div>
            <h3 class="text-lg text-center md:text-left">inclusions</h3>
            <div class="grid border-2 border-black rounded-4xl">
            {% for space in page.inclusions %}
                <div class="{% unless forloop.last %} border-b{% endunless %} border-gray-300 p-4 balanced-div">
                    <h3>{{space.name}}</h3>
                    {{space.description-html}}
                </div>
            {% endfor %}
            </div>
        </div>
                <div>
            <h3 class="text-lg text-center md:text-left">add-ons</h3>
            <div class="grid border-2 border-black rounded-4xl" style="grid-template-columns: 1fr 8rem;">
            {% for space in page.add-ons %}
                <div class="{% unless forloop.last %} border-b{% endunless %} border-r border-gray-300 p-4 balanced-div">
                    <h3>{{space.name}}</h3>
                    <p>
                        {{space.description}}
                    </p>

                </div>
                <div class="flex justify-center items-center {% unless forloop.last %} border-b{% endunless %}">
                    <div>
                        <h3 class="mb-0">{{space.price}}</h3>
                        <p>{{space.per_description}}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section>