<footer>
    <div class="grid md:grid-cols-3 lg:grid-cols-5 gap-12">
        <div class="col-span-full lg:col-span-2">
            <h2 class="text-lg">Suluh Studios.</h2>
            <p class="text-balance">Suluh Studios is a state-of-the-art indoor & outdoor photography studio in Bali, available both as independent studio rental for your own photoshoots & as a full-service production studio for elevated e-commerce and lifestyle photoshoots. </p>
    
            <p>Located in Cemagi, Bali. Studio access by appointment.</p>
            
            <p>Project by <a href="https://www.kelapacreative.com" target="_blank" class="border-b">Kelapa Creative</a></p>
        </div>
        <div class="hidden lg:block"></div>
        <div>
            <h3 class="text-sm h-mono uppercase">Product Photography</h3>
            
            {% assign flat-rate-photo = site.shoots | where_exp:"page","page.categories contains 'product'" | sort: "order" %}

            {% for shoot in flat-rate-photo %}
                <a class="text-base block" href="{{shoot.url}}">{{shoot.title}}</a>
            {% endfor %}

            <div>
            <h3 class="text-sm h-mono uppercase mt-8">Model Photography</h3>
            
            {% assign flat-rate-photo = site.shoots | where_exp:"page","page.categories contains 'model'" | sort: "order" %}

            {% for shoot in flat-rate-photo %}
                <a class="text-base block" href="{{shoot.url}}">{{shoot.title}}</a>
            {% endfor %}

            <h3 class="text-sm h-mono uppercase mt-8">Creative Campaigns</h3>
            
            {% assign flat-rate-photo = site.shoots | where_exp:"page","page.categories contains 'creative'" | sort: "order" %}

            {% for shoot in flat-rate-photo %}
                <a class="text-base block" href="{{shoot.url}}">{{shoot.title}}</a>
            {% endfor %}
        </div>


        </div>
        <div>
            <h3 class="text-sm h-mono uppercase">STUDIO SPACES</h3>
            <a class="text-base block" href="/indoor-studio">Indoor Studio</a>
            <a class="text-base block" href="/outdoor-studio">Med Courtyard</a>
            <a class="text-base block" href="/outdoor-studio">Pool Studio</a>
            <a class="text-base block" href="/outdoor-studio">Marble Garden</a>
            <a class="text-base block" href="/spaces">Food & Product Studio</a>
            <a class="text-base block" href="/spaces">Rooftop Studio</a>
            <a class="text-base block" href="/spaces">Explore all spaces</a>

            <h3 class="text-sm h-mono uppercase mt-8">EXPLORE</h3>
            <a class="text-base block" href="/">
                Home
            </a>
            <!-- Test -->
            <!-- <a class="text-base block" href="/studio">
                Events & Brand Activations
            </a> -->
            <!-- <a class="text-base block" href="/portfolio">
                Our Porfolio
            </a>
            <a class="text-base block" href="/gallery">
                Gallery
            </a> -->
            <a class="text-base block" href="/contact">
                Contact
            </a>
            <a class="text-base block" href="https://www.instagram.com/suluhstudio">
                Instagram
            </a>
            <a class="text-base block" href="https://www.facebook.com/suluhstudio">
                Facebook
            </a>
            <a href="/collab" class="text-base block">
               Collaboration 
            </a>


        </div>
    </div>
</footer>