<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{page.title}}</title>

    <!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&family=Inter:opsz,wght@14..32,100..900&family=Questrial&display=swap" rel="stylesheet">

<!-- Iconnoir fonts -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />


<!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

</head>

<body>


    {% include site-header.html %}


    {{content}}

    <script>
        burgerButton = document.querySelector('.burger-button');
        burgerMenu = document.querySelector('.burger-menu');
        wholePage = document.querySelector('body');

        console.log(burgerButton, burgerMenu);

        burgerButton.addEventListener('click', () => {
            wholePage.classList.toggle('burgers-open');
        });
    </script>
</body>

</html>