<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{page.title}}</title>

    <!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&family=Inter:opsz,wght@14..32,100..900&family=Questrial&display=swap" rel="stylesheet">

<!-- Iconnoir fonts -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />


<!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

</head>

<body>
    <header class="p-[5%] pb-0">
            <nav class="flex justify-end items-center border-b-2 border-black pb-8 mb-8">
                <span class="burger-button md:hidden z-50"></span>
                <span class="border-r-2 border-black py-2 pr-8 mr-8 hidden md:inline-block">
                {% for link in site.data.navigation.header %}
                <a href="{{link.link}}" class="ml-4 {% if link.featured %}button-featured button-rounded {% endif %}">{{link.name}}</a>
                {% endfor %}
            </span>
            <a href="" class="p-2 border-2 border-black rounded-full mr-4 hidden md:inline-flex">
                    {% include icon/facebook.html width = '1.3rem' %}
            </a>
            <a href="" class="p-2 border-2 border-black rounded-full hidden md:inline-flex mr-4">
                {% include icon/instagram.html width = '1.3rem' %}
            </a>
            <a href="" class="p-2 border-2 border-black rounded-full hidden md:inline-flex">
                {% include icon/whatsApp.html width = '1.3rem' %}
            </a>
            
        </nav>
        <div class="burger-menu md:hidden fixed top-0 left-[100vw] bg-white/95 w-full h-screen p-8 transition-all duration-300 ease-in-out z-30 text-center pt-40">
            <div class="flex flex-col justify-center items-center gap-8">
                {% for link in site.data.navigation.header %}
                <a href="{{link.link}}" class="mb-4 {% if link.featured %}button-featured button-rounded {% endif %}">{{link.name}}</a>
                {% endfor %}
            <a href="" class="p-2 border-2 border-black rounded-full inline-flex">
                    {% include icon/facebook.html width = '1.3rem' %}
            </a>
            <a href="" class="p-2 border-2 border-black rounded-full inline-flex">
                {% include icon/instagram.html width = '1.3rem' %}
            </a>
            <a href="" class="p-2 border-2 border-black rounded-full inline-flex">
                {% include icon/whatsApp.html width = '1.3rem' %}
            </a>
            </div>

        </div>
    </header>
    {{content}}



    <script>
        burgerButton = document.querySelector('.burger-button');
        burgerMenu = document.querySelector('.burger-menu');
        wholePage = document.querySelector('body');

        console.log(burgerButton, burgerMenu);

        burgerButton.addEventListener('click', () => {
            wholePage.classList.toggle('burgers-open');
        });
    </script>
</body>

</html>